 <div class="cont">
     <div class="container  " >
          <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-12  padding-box align-self-center" style="border-radius: 15px ;">
            <div class="main-content" *ngIf="flag===true">
                <div class="container-fluid">
                  <div class="row justify-content-center">  
                    <div class="col-sm-10 col-md-10 col-lg-10">
                      <div class="card ">
                        <div class="card-header card-header-info   card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">pattern</i>
                          </div>
                        </div>
                        <h4 class="card-title title" >¡Actualizar! </h4>
                        <form      autocomplete="off" [formGroup]="myForm" (ngSubmit)="actualizar()"  >
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-12 titleText " style="text-align: center;">
                                  <p class="">   Antes de continuar, por favor actualice la contraseña.                 </p>  
                                </div>
                                <div class="col-12 col-sm-4" >
                                     <p  class="passwordLabel">Ingrese contraseña</p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" formControlName="password" [type]="fieldTextType ? 'text' : 'password'"  class="form-control" value="#01DCDE" placeholder="Contraseña"
                                        autocomplete="off">
                                        <div class="input-group-append">
                                          <span class="input-group-text">
                                            <i
                                              class="fa"
                                              [ngClass]="{
                                                'fa-eye-slash': !fieldTextType,
                                                'fa-eye': fieldTextType
                                              }"
                                              (click)="toggleFieldTextType()"
                                            ></i>
                                          </span>
                                        </div>
                                      </div>
                                      <div style="display: block;">
                                        <h5 class="form-text text-danger" *ngIf="validatePasswords() &&  myForm.touched===true" >
                                          {{text}}</h5>
                          </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-4">
                                        <p class="passwordLabel">   Repita contraseña</p>
                                  </div>
                                <div class="col-12 col-sm-6">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" formControlName="passwordtwo" [type]="fieldTextType2 ? 'text' : 'password'" class="form-control" value="#01DCDE" placeholder="Contraseña"
                                        autocomplete="off">
                                        <div class="input-group-append">
                                          <span class="input-group-text">
                                            <i
                                              class="fa"
                                              [ngClass]="{
                                                'fa-eye-slash': !fieldTextType2,
                                                'fa-eye': fieldTextType2
                                              }"
                                              (click)="toggleFieldTextType2()"
                                            ></i>
                                          </span>
                                        </div>
                                      </div>
                                      <h5 class="form-text text-danger" *ngIf="validatePasswords() &&  myForm.touched===true" >
                                        {{text}}</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center" style="margin-top: 40px;">
                                <button class="btn  btn-dp-green-dio btn-round" type="submit" [disabled]="validatePasswords()">Actualizar</button>
                            </div>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
 </div>