<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-dp-yellow-c-100  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Lista módulos</h4>
          </div>
          <div class="card-body">

            <div class="row justify-content-end" *ngIf="crudUser.create===1">
              <div class="col-8 col-sm-3 col-lg-3 col-xl-2 mb-4 ">
                <button matTooltip="Añadir módulo" matTooltipClass="example-tooltip-grey"
                  class="btn btn-dp-gold-dio   btn-round  " (click)="createModule()">+ Añadir</button>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-12 col-sm-8 col-md-4">
                <mat-form-field appearance="standard">
                  <mat-label>Filtrado de módulos</mat-label>
                  <mat-icon matSuffix>search</mat-icon>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12">
 
                <div class="example-container mat-elevation-z8">
                  <table mat-table [dataSource]="dataModule" matSort matSortActive="nameModule" matSortDirection="asc">
                    <!-- Name Column -->
                    <ng-container matColumnDef="nameModule" sticky>
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header> <b>Nombre módulo</b> </th>
                      <td class="sizeBox" mat-cell *matCellDef="let element;"> {{element.nameModule|emptyValueDio}}
                      </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="typeModule">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo módulo </th>
                      <td class="sizeBox" mat-cell *matCellDef="let element"> {{element.typeModule|parent}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="refModule">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header> Referencia módulo </th>
                      <td class="sizeBox" mat-cell *matCellDef="let element">    {{referenceModuleName(element.refModule,element.nameModule) }} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="urlModule">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header> Url módulo </th>
                      <td class="sizeBox" mat-cell *matCellDef="let element"> {{element.urlModule|emptyValueDio}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="iconModule">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header>Icono módulo</th>
                      <td class="sizeBox" mat-cell *matCellDef="let element"> {{element.iconModule|emptyValueDio}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="abbreviationModule">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header>Abreviación móduio</th>
                      <td class="sizeBox" mat-cell *matCellDef="let element">
                        {{element.abbreviationModule|emptyValueDio}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="description">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                      <td class="sizeBox" mat-cell *matCellDef="let element"> {{element.description|emptyValueDio}}
                      </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="crud">
                      <th class="sizeBox" mat-header-cell *matHeaderCellDef mat-sort-header>Crud</th>
                      <td class="sizeBox" mat-cell *matCellDef="let element"> {{element.crud|crud}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">Acciones</th>
                      <td mat-cell *matCellDef="let element;let i = index" class="sizeBox ">
                        <div class="row " style="margin-right: 2px!important;">
                          <div class="col-4" *ngIf="crudUser.read===1">
                            <a class="pointer" width="104" height="102" (click)="viewModule(element.idModule)"
                              matTooltip="Ver módulo" matTooltipClass="example-tooltip-grey" style="color: #67BC29;">
                              <mat-icon>
                                visibility
                              </mat-icon>
                            </a>
                          </div>
                          <div class="col-4" *ngIf="crudUser.update===1">
                            <a class="pointer" width="104" height="102"
                              (click)="editModule(element.idModule,element.nameModule)" matTooltip="Editar módulo"
                              matTooltipClass="example-tooltip-grey" style="color: #17B5D8;">
                              <mat-icon>
                                edit
                              </mat-icon>
                            </a>
                          </div>
                          <div class="col-4" *ngIf="crudUser.delete===1">
                            <a class="pointer" width="104" height="102" matTooltip="Eliminar módulo"
                              matTooltipClass="example-tooltip-grey" style="color: #D12626;"
                              (click)="deleteModule(element.idModule,element.nameModule,element)">
                              <mat-icon>
                                delete
                              </mat-icon>
                            </a>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                      aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>