/* Structure */
table {
  width: 100%;
}
  .example-container {
    width:100%;
    max-width: 100%;
    overflow: auto;
  }
@media (max-width: 1250px) {
  .example-container {
    width: 1250px;
    max-width: 100%;
    overflow: auto;
  }
  }
  mat-cell, .mat-cell {
    padding: 12px 16px 12px 0;
  }
    .sizeBox {  
    width: 100px;  
    max-width:  100px;  
    min-width: 100px;  
    word-wrap: break-word;
  }
  .red-icon{
    color: #D12626;
  }
  .blue-icon{
    color: #17B5D8;
  }
  .mat-header-cell{
    background-color: #C6951A;
    color: white;
  }