@media (min-width: 800px) {
  .sizeIconDio{
    font-size: 30px;
  }
}
@media (min-width: 800px) {
    .sizeIconDio{
      font-size: 30px;
    }
  }
  @media (max-width: 768px) {
    .container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
    }
    .mat-expansion-panel-body {
      padding: 0px !important;
    }
    .col-md-6, .col-sm-12, .col-12  {
      padding-left: 0 ;
      padding-right: 0 ;
    }
    .sizeIconDio{
      font-size: 20px;
    }
    .paddCols{
      padding: 10px;
  }
  }
  mat-form-field {
    width: 100%;
  }
  .card-wizard .mat-form-field {
     width: 100%; 
    font-size: 14px;
    top: 3px;
}
.imge{
    width:60px;
    height:60px;
  }
@media (max-width: 0px) {
    .imge{
        width:110px;
        height:110px;
      }
      .txtAviso{
        font-size: 15px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        text-align: left;
    }
    .txtSize{
        font-size: 50px;
        text-align: left;
    }
  }
  @media (max-width: 330px) {
    .imge{
        display: none;
      }
  }
  .txtAviso{
    font-size: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: left;
}
.txtSize{
    font-size: 35px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: left;
}

/* Structure */
table {
  width: 100%;
}


  .example-container {
    width:100%;
    max-width: 100%;
    overflow: auto;
  
  }

@media (max-width: 1250px) {
  .example-container {
    width: 1250px;
    max-width: 100%;
    overflow: auto;
  }
  
  }
 

 

.center{
  text-align: center;

}


.sizeBox {  
  width: 150px;  
  max-width: 150px;  
  min-width: 150px;  
  word-wrap: break-word;
}
.mat-header-cell{
  background-color: #C6951A;
  color: white;
}


.btn-dp-blue-dio{
  border: solid 2px #42c1f2!important;
  font-weight: bold;
}
.btn-dp-red-dio{
  border: solid 2px #EB5D5D!important;
  font-weight: bold;
}
.btn-dp-green-dio{
  border: solid 2px #5EC153!important;
  font-weight: bold;
}
.btn-dp-gold-dio{
  border: solid 2px #BA7221!important;
  font-weight: bold;
}