<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-dp-yellow-c-100  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Permisos</h4>
          </div>
          <div class="row ">
            <div class="col-12">
              <div style="text-align: center;">
                <img class="img-fluid imge" src="/assets/img/permissions.png" style="margin-bottom: 20px;"
                  alt="Logo Diocesis De Pasto">
                <span class="txtSize float-buttom" style="margin-top: 100px;">Permisos</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12  col-lg-12 col-xl-10 col-xxl-10">
                <p class="txtAviso ">
                  Recordar que el apartado debe poseer permisos de roles para funcionar adecuadamente, tenga en cuenta
                  que los cambios se salvarán, únicamente al presionar el botón "ACTUALIZAR" </p>




              </div>
            </div>
            <div class="col-12 ">
              <div class="row justify-content-center" *ngIf="crudRole.read===1 && crudPermissions.read===1 ">
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 ">
                  <mat-form-field>
                    <mat-select placeholder="Elegir rol" [(ngModel)]="selectedValue" name="rol"
                      (selectionChange)="ngAfterViewInit();">
                      <mat-option *ngFor="let rol of roles" [value]="rol">
                        {{rol.nameRole }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-end mt-4 " *ngIf="selectedValue!==undefined &&  crudRole.read===1">
                <div class="col-12 col-md-6 col-lg-2  ">
                  <mat-form-field>
                    <mat-select placeholder="Heredar rol" [(ngModel)]="selectedValueHerencia" name="rolHe">
                      <mat-option *ngFor="let rolHe of rolesHerencia" [value]="rolHe"
                        [disabled]="rolHe.nameRole===selectedValue.nameRole">
                        {{rolHe.nameRole }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12  col-md-4 col-lg-2 mt-2 text-center" *ngIf="selectedValueHerencia!==undefined">
                  <button class="btn btn-dp-green-dio mb-4 " style="text-align: center;" (click)="selectHerencia()">
                    Heredar</button>
                </div>
              </div>
              <div class="row justify-content-center" *ngIf="selectedValue!==undefined &&  crudRole.read===1">
                <div class="col-12">
        
       
                    <div class="col-12 col-sm-8 col-md-4">
                      <mat-form-field appearance="standard">
                        <mat-label>Filtrado de módulos</mat-label>
                        <mat-icon matSuffix>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                      </mat-form-field>
                    </div>
           
                  <form [formGroup]="myForm"
                    [attr.disabled]="((crudPermissions.read===1 && crudPermissions.update===0 )? true :null)"
                    (ngSubmit)="login()">
                    <div class="example-container mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                        <ng-container matColumnDef="nameModule">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> Nombre módulo </th>
                          <td mat-cell *matCellDef="let element " class="sizeBox">{{element.get("nombre").value}}</td>
                        </ng-container>

                        <ng-container matColumnDef="admin">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> Administrador </th>
                          <td mat-cell *matCellDef="let element">
                            <section class="example-section">
                              <mat-checkbox class="example-margin" [formControl]="element.get('admin')"
                                [disabled]="valueExceptionIdModuleAdmin(element.get('selectC').value,element.get('selectR').value,
                                                                        element.get('selectU').value,element.get('selectD').value)===false"></mat-checkbox>
                            </section>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="selectC">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"
                            style="text-align: center!important;"> Crear </th>
                          <td mat-cell *matCellDef="let element">
                            <section class="example-section">
                              <mat-checkbox class="example-margin" [formControl]="element.get('selectC')"
                                [disabled]="valueExceptionIdModule(element.get('idModuleC').value)===true">
                              </mat-checkbox>
                            </section>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="selectR">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> Listar</th>
                          <td mat-cell *matCellDef="let element">
                            <section class="example-section">
                              <mat-checkbox class="example-margin" [formControl]="element.get('selectR')"
                                [disabled]="valueExceptionIdModule(element.get('idModuleR').value)===true">
                              </mat-checkbox>
                            </section>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="selectU">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> Actualizar </th>
                          <td mat-cell *matCellDef="let element">
                            <section class="example-section">
                              <mat-checkbox class="example-margin" [formControl]="element.get('selectU')"
                                [disabled]="valueExceptionIdModule(element.get('idModuleU').value)===true">
                              </mat-checkbox>
                            </section>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="selectD">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> Eliminar </th>
                          <td mat-cell *matCellDef="let element">
                            <section class="example-section">
                              <mat-checkbox class="example-margin" [formControl]="element.get('selectD')"
                                [disabled]="valueExceptionIdModule(element.get('idModuleD').value)===true">
                              </mat-checkbox>
                            </section>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <mat-paginator #matPaginatorFechas [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                          aria-label="Select page of periodic elements">
                        </mat-paginator>
                      </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="crudPermissions.update===1">
                      <div class="col-6 text-center">
                        <button type="submit" [disabled]="!myForm.dirty" style="text-align: center;"
                          class="btn btn-dp-gold-dio btn-round mt-4  ">Actualizar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>