<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="card">
                <div class="card-body">
                    <form autocomplete="off" [formGroup]="myForm" [attr.disabled]="(view? true :null)"
                        (ngSubmit)="updateRole()" style="margin-top: 20px;">
                        <div class="row  justify-content-center mb-2 ">
                            <div class="col-12 col-sm-12 col-md-6 paddCols">


                                <mat-form-field class="example-full-width">
                                    <input required matInput type="text" class="font-size-large"
                                        formControlName="nameRole" autocomplete="off" placeholder="Nombre de rol">

                                </mat-form-field>
                                <div style="display: block; " *ngIf="campoNoValido('nameRole')">
                                    <small class=" text-danger ">
                                        Nombre de rol es obligatorio</small>
                                </div>
                            </div>
                        </div>
                        <div class="row  justify-content-center mb-2">
                            <div class="col-12 col-sm-12 col-md-6 paddCols">

                                <mat-form-field class="example-full-width">
                                    <input required matInput type="text" class="font-size-large"
                                        formControlName="description" autocomplete="off" placeholder="Descripción">

                                </mat-form-field>

                                <div style="display: block; " *ngIf="campoNoValido('description')">
                                    <small class="text-danger ">
                                        Descripción de rol es obligatoria</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center mt-4" *ngIf="view===false">
                            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                                <button matTooltip="Volver a lista roles" matTooltipClass="example-tooltip-grey"
                                    type="button" class="btn btn-dp-gold-dio btn-block btn-round "
                                    routerLink="/session/role/principal">  <mat-icon>arrow_back</mat-icon></button>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                                <button matTooltip="Actualizar roles" matTooltipClass="example-tooltip-grey"
                                    type="button" class="btn btn-dp-green-dio  btn-block btn-round"
                                    [disabled]="!myForm.dirty" (click)="updateRole()">  <mat-icon>upgrade</mat-icon></button>
                            </div>
                        </div>  
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>