<div class="overlay" *ngIf="varSpinner">
  <div class="loadingio-spinner-rolling-zvsd6sfg6e">
    <div class="ldio-ije64jmhzm">
    
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center backgroundDio">
    <div class="col d-none d-xl-block col-xl-6 text-center left borderDio">
      <h3 id="TEXT_PRIMARY" class="text mb-2"> {{CONST.SECTION_LEFT.TEXT_PRIMARY}} </h3>
      <div>
        <img class="img-fluid" src="/assets/img/logo-diocesis.png" width="200" height="300"
          alt="Logo Diocesis De Pasto">
      </div>
      <h2 id="TEXT_SECONDARY"  class="info-title text">{{CONST.SECTION_LEFT.TEXT_SECONDARY}}</h2>
    </div>
    <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-6 bg-white padding-box align-self-center"
      style="border-radius: 15px ;">
      <div class="row justify-content-center">
        <div class="col-12 d-xl-none  ">
          <div style="text-align: center;">
            <img [src]="CONST.SECTION_LEFT.IMAGE" width="80" height="150" alt="Logo Diocesis De Pasto">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 id="WELCOME_TITLE" class="fw-bold text-center log word marginDio30px">{{CONST.SECTION_RIGHT.WELCOME_TITLE}}</h2>
          <p id="WELCOME_MSG" class="fw-bold text-center log word mt-3">{{CONST.SECTION_RIGHT.WELCOME_MSG}}</p>
          <form class="marginDio30px" autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()">
            <div class="mb-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 0px!important;margin-right:2px">
                    <i class="material-icons">person</i>
                  </span>
                </div>
                <input type="email" class="form-control" formControlName="email" placeholder="Usuario"
                  autocomplete="off">
              </div>
              <div style="display: block;">
                <h5 class="form-text text-danger" *ngIf="campoNoValido('email')" class="validators">
                  {{emailErrorMsg}}</h5>
              </div>
            </div>
            <div class="mb-2">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 0px!important;margin-right:2px">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input type="password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                  class="form-control" value="#01DCDE" placeholder="Contraseña" autocomplete="off">
                <div class="input-group-append">
                  <span class="input-group-text" style="padding: 0px!important;margin-right:2px">
                    <i class="fa" [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="toggleFieldTextType()"></i>
                  </span>
                </div>
              </div>
              <div style="display: block;">
                <h5 class="form-text text-danger word" class="validators" *ngIf="campoNoValido('password')">
                  La contraseña es requerida</h5>
              </div>
            </div>
            <div class="text-center mb-2">
              <button type="submit" [disabled]="myForm.invalid"
                class="btn btn-dp-yellow-c-900 btn-round my-4 word col-md-8">Iniciar
                Sesión</button>
            </div>
            <div class="text-center">
              <a href="#" class="word " id="skip-link" routerLink="/recovery-password/window/password" style="color: black;">¿Olvidó la
                contraseña?</a>
              <span> | </span>
              <!-- TODO: Al presionar el botón "Necesito Ayuda, abrir un modal informando que debe enviar un mensaje al correo o whatsapp" -->
              <a href="#" class="word " id="skip-link" style="color: black;">Necesito
                Ayuda</a>
            </div>
          </form>
          <div class="social">
            <div class="row">
              <div class=" col-12 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <h4 class="mt-3 logIn word" style="margin-right: 5px;">Siguenos en</h4>
                  </div>
                  <div class="col-12 iconos-center">
                    <a [href]="CONST.SOCIAL_NETWORK.FACEBOOK" target="_blank" mat-raised-button
                      class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                      <i class="fa fa-facebook"> </i>
                    </a>
                    <a [href]="CONST.SOCIAL_NETWORK.INSTRAGRAM" target="_blank" mat-raised-button
                      class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a [href]="CONST.SOCIAL_NETWORK.TWITTER" target="_blank" mat-raised-button
                      class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>