<form autocomplete="off" [attr.disabled]="(view? true :null) || (verificateMenisterial()? null : true )"
    [formGroup]="myForm" (ngSubmit)="menisterialInformation()" style="margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-10  col-md 10 col-xl-6">
            <mat-form-field style="width: 100%;">
                <mat-label>Fecha Ordenación Diaconal</mat-label>
                <input required matInput [matDatepicker]="dp1" disabled formControlName="diaconalOrdinationDate">
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
            </mat-form-field>

            <div class="dp-block-dio" *ngIf="(campoNoValido('diaconalOrdinationDate'))">
                <small class="text-danger"> {{errorMsgForm('diaconalOrdinationDate','Ordenación Diaconal')}}</small>
            </div>
        </div>


    </div>
    <div class="row justify-content-center">
        <div class="col-10  col-md 10 col-xl-6 align-item-center" aria-hidden="true">
            <mat-form-field style="width: 100%;">
                <mat-label>Fecha Ordenación Presbiteral</mat-label>
                <input required matInput [matDatepicker]="dp2" disabled formControlName="priestlyOrdinationDate">
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
            </mat-form-field>

            <div class="dp-block-dio" *ngIf="(campoNoValido('priestlyOrdinationDate'))">
                <small class="text-danger"> {{errorMsgForm('priestlyOrdinationDate','Fecha Ordenación
                    Presbiteral')}}</small>
            </div>
        </div>

    </div>
    <div class="row  mt-2 justify-content-center" style="margin-bottom: 40px;">
        <div class="col-12 text-center">
        </div>
    </div>


    <div class="form-group row justify-content-center" *ngIf="view===false">
        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-2  mg-lf-15" *ngIf="create===true && permissCrud.create===1"
            style="margin-left: 15px;">
            <button matTooltip="Guardar " matTooltipClass="example-tooltip-grey" type="submit"
                class="btn btn-dp-green-dio  btn-block btn-round sizeBox" >  <mat-icon>save</mat-icon></button>
        </div>


    </div>
</form>
<div class="row justify-content-center justify-content-sm-end  mt-2" *ngIf="view===false">
    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 " *ngIf="update===true  && permissCrud.update===1" style="margin-left: 15px;">
        <button matTooltip="Actualizar " matTooltipClass="example-tooltip-grey" type="button"
            class="btn btn-dp-green-dio  btn-block btn-round sizeBoxArrayForm" 
            (click)="updateMenisterial()">
            <mat-icon>upgrade</mat-icon>
        </button>
    </div>
    <div class="col-7 col-sm-3 col-lg-3 col-xl-2   "
        *ngIf="delete===true  && permissCrud.delete===1  " style="margin-left: 15px;">
        <button matTooltip="Eliminar " matTooltipClass="example-tooltip-grey" type="button"
            class="btn btn-dp-red-dio btn-block btn-round sizeBoxArrayForm" 
            (click)="deleteMinisterial()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</div>