<div class="container ">

    <div class="container-fluid ">



        <div class="row  justify-content-center scroll-a ">
            <div class="col-12 col-lg-6 card font-text">
                <div class="fuente block-principal card-header card-header-dp-yellow-c-100  card-header-icon">

                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>


                </div>

                <div class="row">
                    <div class="col-12 txt-center"  >
                        <img  src="/assets/img/logo-diocesis.png" width="60" height="120"
                            alt="Logo Diocesis De Pasto">
                        <div class="row">
                            <div class="col-12 ">
                                <h2  class="font-text">Diócesis de Pasto - SIID <br>
                                </h2>

                                <P  class="font-text-subtitle">Sistema integrado de
                                    información</P>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="color-border-dio"></div>
                        <h1  class=" font-size-small font-text txt-center mt-2">
                            <b>{{userDate.nameInstitution|emptyValueDio}} | {{userDate.nameTypeUser|emptyValueDio}} </b></h1>
                        <div class="color-border-dio"></div>
                    </div>


                </div>
                <div class="row justify-content-center mt-3 " >
                    <div class="col-6 imgUser">
                        <img [src]="userDate.photo " width="120" height="120" alt="Logo Diocesis De Pasto" style="border-radius: 10%;">
                    </div>

                    <div class="col-6 data  ">
                        <p><b>Nombre:</b> {{userDate.nameUser|emptyValueDio}} </p>
                        <p><b>Documento:</b> {{userDate.documentId|emptyValueDio}}</p>
                        <p><b>Tipo documento:</b> {{userDate.documentType|emptyValueDio}}</p>

                    </div>


                </div>

                <div class="row justify-content-center">

                    <div class="col-10">
                        <mat-card class="mt-4 mb-4 " >
                            <mat-card-title  class="font-size-medium txt-center">Información Pastoral</mat-card-title>
                            <mat-card-content>
                                <div *ngFor="let state of  userDate.dataPastoral | slice:start:end;let i = index">
        
                                    <mat-card class="mt-3 mb-1 card-son">
                                        <mat-card-title class="txt-center font-size-small" >Asignación Pastoral #{{i+1}} - {{state.assignedPlace}}</mat-card-title>
                                        <mat-card-content >
        
        
        
                                            <p class="sizeScrollText "><span class="colorSroll">Servicio Pastoral:
                                                </span>{{state.pastoralService}}.</p>
                                            <p class="sizeScrollText" *ngIf="state.appointmentDate!=null"><span class="colorSroll">Fecha de nombramiento:
                                                    </span>{{state.appointmentDate|date:"dd-MM-yyyy" }}.</p>
                                            <p class="sizeScrollText"><span class="colorSroll">Fecha inicio de
                                                    servicio: </span>{{state.serviceStartDate|date:"dd-MM-yyyy"}}.</p>
                                            <p class="sizeScrollText" *ngIf="state.serviceEndDate!=null"><span class="colorSroll">Fecha final de
                                                    servicio: </span>{{state.serviceEndDate|date:"dd-MM-yyyy" }}.</p>
                                            <p class="sizeScrollText" *ngIf="state.timeRemaining>=0" ><span class="colorSroll">Días restantes: </span>
                                                <span  > {{state.timeRemaining}} días.</span></p>
                                            <p class="sizeScrollText" *ngIf="state.timeRemaining>=0"> <span  class="colorSroll ">Estado: </span><span class="color-green"> Activo</span></p>
                                            <p class="sizeScrollText" *ngIf="state.timeRemaining<=0"><span  class="colorSroll">Estado:  </span><span class="color-red"> Inactivo</span></p>
                                        </mat-card-content>
        
                                    </mat-card>
        
                                </div>
                                <div *ngIf="!userDate.dataPastoral">
                                    <p  class="txt-center font-size-xx-small">No hay datos para mostrar</p>
                                </div>
                                
                            </mat-card-content>
                            <mat-card-actions *ngIf="userDate.dataPastoral && userDate.dataPastoral.length>1" >
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <button  type="button"  (click)="verificate()" class="btn btn-info btn-block button-size-dio">{{text}}</button>
        
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
        
                    </div>
                </div>

     
      
                <div class="row justify-content-center">

                    <div class="col-12 txt-center" >

                        <p> <span>Fecha:</span> {{rxTime | date: 'dd/MM/yyyy'}} -- <span>Hora:</span> {{ rxTime |
                            date: 'hh:mm:ss a' }}

                    </div>



                </div>
            </div>


        </div>



    </div>


</div>