.hola{
    font-size: 12px;
    text-align: justify;
    line-height: 14px;
    font-weight: bold;
}
body{
    background-color: white;
}
p {
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 12px;
    font-weight:bold;
    padding: 0px !important;
    margin: 0px !important;
}
#u25769-2 {
    font-size: 14px;
    text-align: center;
    color: #1B1464;
    font-weight: bold;
}
#u25769-7 {
    font-size: 12px;
    text-align: justify;
    line-height: 14px;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
  
  }
  .sizeScrollText{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
    text-align: justify;padding-left: 10px;padding-right: 10px;
    font-size: 10px;
    
}
.colorSroll{
    color: #143E65;font-weight: bold;
    
}

.color-border-dio{
    border-bottom: solid 5px #8F8246;
}

.card-father{
    -webkit-box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.51); 
                        box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.51);
}
.card-son{
    -webkit-box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.25); 
    box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.25);
}
.txt-center{
 text-align: center;
}
.font-size-small{
    font-size:small;
}
.font-size-medium{
    font-size:medium;
}
.color-green{
    color: rgb(29, 165, 29);
}
.color-red{
    color: rgb(209, 44, 32);
}
.font-size-xx-small{
    font-size: xx-small;
}
  @media (max-height: 650px) {
    .scroll-a {
    
      overflow-y: scroll;
      }
    }
    .scroll-a {
    
        overflow-y: scroll;
        }
  @media (max-width: 426px) {
    .scroll-a {
    
      overflow-y: scroll;
      }
        .font-text{
            font-family: Lato, sans-serif;
            font-size: 20px;
        }
        .font-text-subtitle{
            font-family: Lato, sans-serif;
            font-size: 13px;
        }
        .sizeScrollText{
            font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
            font-size: 13px !important;
            text-align: justify;padding-left: 10px;padding-right: 10px;
        }
    }

    
.data{
    text-align: start;
    margin-top: 10px;
}
.imgUser{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.font-text{
    font-family: Lato, sans-serif;
}
.font-text-subtitle{
    font-family: Lato, sans-serif;
}
.example-viewport {
    height: 200px;
    width: 100%;    

    border: solid 5px #56787D;border-radius: 10px;
  }
  
.mat-card {
    max-width: 1000px;
    margin: auto;
}

.button-size-dio{
    min-width: 100px!important;
    margin: auto;
}