

.imge{
    width:60px;
    height:60px;
  
  }
  .txtSize{
      font-size: 35px;
      font-family: Lato, sans-serif;
      
  
      text-align: left;
  }
  .txtAviso{
      font-size: 15px;
      font-family: Lato, sans-serif;
  
      text-align: left;
  }
  .iconDown{
    text-align: left !important;color: white;
  }



.colorSiguiente{
  color: #303030;
  font-size: bold;
}


.colorAnterior{
  color: #31645C;
}


.colorHeader{
  background: #537074!important;
 
  border-bottom: solid 3px white;
}
.colorMove{
background-color: #D5D5D5
}
.textHeader{

  font-family: Lato, sans-serif;
  font-size: 16px;
  color: white;
}


mat-panel-description.right-aligned {
  flex-grow: 0;
}

@media (min-width: 800px) {
  .sizeIconDio{
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .col-md-6, .col-sm-12, .col-12  {
    padding-left: 0 ;
    padding-right: 0 ;
  }
  .sizeIconDio{
    font-size: 20px;
  }
  .paddCols{
    padding: 10px;
}
}

mat-form-field {
  width: 100%;
}

.card-wizard .mat-form-field {
   width: 100%; 
  font-size: 14px;
  top: 3px;
}

@media (max-width: 0px) {
  .sizeIconDio{
    font-size: 48px;
  }
  .imge{
      width:110px;
      height:110px;
    
    }
    .txtSize{
        font-size: 50px;
   
    
        text-align: left;
    }
    .txtAviso{
        font-size: 15px;
        font-family: Lato, sans-serif;
    
        text-align: left;
    }
}

@media (max-width: 330px) {

  .imge{
      display: none;
    
    }
    
}

.mat-action-row {
  padding: 0 ;
  /* padding: 16px 8px 16px 24px; */
}
.cont{
  min-height: 100px;
  
}

