
<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngIf="crudUser.admin===1 && crudUser.read===1 " [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="colorHeader"   style="padding: 30px!important ;"  >
            <mat-panel-title class="textHeader right-aligned-header" >
                 Datos Principales
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                
                <app-user-information [idchild]="idUser" [permissCrud]="crudUser" [view]="view"></app-user-information>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="crudDataPerson.admin===1 && crudDataPerson.read===1 " [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
            <mat-panel-title class="textHeader " >
                Información Personal
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                <app-personal-information [idchild]="idUser" [permissCrud]="crudDataPerson" [view]="view"></app-personal-information>
                
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="crudAcademy.admin===1 && crudAcademy.read===1 " [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
            <mat-panel-title class="textHeader" >
                Información Académica
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                <div class="container-fluid" *ngIf="step==2">
                    <app-academic-information [view]="view" [idchild]="idUser"  [permissCrud]="crudAcademy"></app-academic-information>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="crudPastoral.admin===1 && crudPastoral.read===1 " [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
            <mat-panel-title class="textHeader" >
                Experiencia Pastoral
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                <div class="container-fluid" *ngIf="step==3">
                    <app-pastoral-information [view]="view" [idchild]="idUser"  [permissCrud]="crudPastoral"></app-pastoral-information>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="crudRecognition.admin===1 && crudRecognition.read===1 " [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;"> 
            <mat-panel-title class="textHeader" >
                Reconocimientos
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                <div class="container-fluid" *ngIf="step==4">
                    <app-recognition-information [view]="view" [idchild]="idUser"  [permissCrud]="crudRecognition"></app-recognition-information>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="crudMenisterial.admin===1 && crudMenisterial.read===1 " [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
    <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
            <mat-panel-title class="textHeader" >
                Información Ministerial
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                <div class="container-fluid">
                    <app-menisterial-information [view]="view" [idchild]="idUser"  [permissCrud]="crudMenisterial" ></app-menisterial-information>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="crudFamily.admin===1 && crudFamily.read===1 " [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
    <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
            <mat-panel-title class="textHeader" >
                Contacto familiar
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                <mat-icon class="iconDown">expand_more</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="container-fluid">
                <div class="container-fluid">
                    <app-family-contact-information [view]="view" [idchild]="idUser"  [permissCrud]="crudFamily"></app-family-contact-information>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
<div class="row justify-content-center"> 
    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-2">
        <button type="button" routerLink="/session/user/principal" class="btn btn-dp-gold-dio mt-3 btn-block btn-round">Regresar</button>
    </div>
</div> 