<form (submit)="pastoralInformation()"  [attr.disabled]="view? true :null " [formGroup]="myForm">
    <div formArrayName="pastoralArray" *ngFor="let pastoralElement of pastoral.controls; let i = index">
        <div [formGroupName]="i">
            <div class="form-group">
                <div class="row mb-4">
                    <div class="col-12" style="text-align: center;">
                        <small style="text-align: center;font-weight:bolder" class="mb-2"  style="font-size: larger;"> Información pastoral #{{i+1}}</small>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-12  col-md-5">
                        <div class="row justify-content-center">
               
                            <div class="col-12 ">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Servicio pastoral</mat-label>
                                    <mat-select required formControlName="pastoralService"  [disabled]="verifateUltimate(i)===false">
                                        <mat-option *ngFor="let userType of servicePastoral" [value]="userType">
                                            {{ userType }}
                                        </mat-option>
                                    </mat-select>
                                  
                                </mat-form-field>
                            </div>
                        </div>
                    
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'pastoralService')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('pastoralService','Servicio pastoral',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5">
                 
                        <mat-form-field class="example-full-width">
                            <input required matInput type="text" class="font-size-large" formControlName="assignedPlace"
                                 autocomplete="off" placeholder="Lugar asignado" [readonly]="verifateUltimate(i)? null : true">
                               
                                </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'assignedPlace')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('assignedPlace','Lugar asignado',i)}}</small>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-12  col-md-5">
                        <div class="row justify-content-center">
                  
                            <div class="col-12" >
                                <mat-form-field  style="width: 100%;">
                                    <mat-label>Fecha inicio servicio</mat-label>
                                    <input  required style="padding-top: -10px!important;" matInput [matDatepicker]="dp1" disabled formControlName="serviceStartDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp1"  [disabled]="verifateUltimate(i)===false"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                  
                                </mat-form-field>
                            </div>
                        </div>
                 
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'serviceStartDate')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('serviceStartDate','Fecha inicio servicio',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5">
                        <div class="row justify-content-center">
              
                            <div class="col-12" >
                                <mat-form-field  style="width: 100%;">
                                    <mat-label>Fecha final servicio</mat-label>
                                    <input  style="padding-top: -10px!important;" matInput [matDatepicker]="dp2" disabled formControlName="serviceEndDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp2" [disabled]="verifateUltimate(i)===false"></mat-datepicker-toggle>
                                    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
  
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'serviceEndDate')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('serviceEndDate','Fecha final servicio',i)}}</small>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-12  col-md-5">
                        <div class="row justify-content-center">
           
                            <div class="col-12 " >
                                <mat-form-field  style="width: 100%;">
                                    <mat-label>Fecha decreto canónico</mat-label>
                                    <input  style="padding-top: -10px!important;" matInput [matDatepicker]="dp3" disabled formControlName="canonicalDecreeDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp3" [disabled]="verifateUltimate(i)===false"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
                 
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'canonicalDecreeDate')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('canonicalDecreeDate','Fecha decreto canónico',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5">
                        <div class="row justify-content-center">
                        
                            <div class="col-12" >
                                <mat-form-field  style="width: 100%;">
                                    <mat-label>Fecha de nombramiento</mat-label>
                                    <input  style="padding-top: -10px!important;" matInput [matDatepicker]="dp4" disabled formControlName="appointmentDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp4"  [disabled]="verifateUltimate(i)===false"></mat-datepicker-toggle>
                                    <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
 
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'appointmentDate')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('appointmentDate','Fecha de nombramiento',i)}}</small>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-12  col-md-5">
           
                        <mat-form-field class="example-full-width">
                            <input  matInput type="text" class="font-size-large" formControlName="decreeNumber"
                                 autocomplete="off" placeholder="No. decreto" [attr.disabled]="verifateUltimate(i)? null : true">
                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'decreeNumber')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('decreeNumber','No. Decreto',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5">
                   
                    </div>
                </div>
                <div class="row justify-content-center justify-content-sm-end  mt-2"  *ngIf="view===false">
             
                    <div class="col-7 col-sm-3 col-lg-3 col-xl-2" *ngIf="permissCrud.update===1 && update===true && create===false" style="margin-left: 15px;">
                        <button  matTooltip="Actualizar" matTooltipClass="example-tooltip-grey" type="submit" class=" btn btn-dp-green-dio  btn-block btn-round sizeBoxArrayForm" [disabled]="!myForm.dirty" 
                         >      <mat-icon>upgrade</mat-icon></button>
                    </div>
                    <div class="col-7 col-sm-3 col-lg-3 col-xl-2" style="margin-left: 15px;"   *ngIf="delete===true && permissCrud.delete===1 && view===false">
                        <button matTooltip="Eliminar" matTooltipClass="example-tooltip-grey" type="button" class="btn btn-dp-red-dio btn-block btn-round sizeBoxArrayForm"
                        (click)="deletePastoral(i)"> <mat-icon>delete</mat-icon></button>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <div class="separate-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class=" row justify-content-center" *ngIf="view===false">
        <div class="col-12 col-sm-5 col-xl-2" *ngIf="create===true" style="margin-left: 15px;">
            <button  matTooltip="Cerrar nuevo formulario " matTooltipClass="example-tooltip-grey" type="button" class=" btn btn-dp-red-dio btn-block btn-round " (click)="removeContact()"><mat-icon>close</mat-icon></button>
        </div>

        
        <button *ngIf="permissCrud.create===1 && create===false" (click)="addPastoral()" mat-raised-button mat-min-fab matTooltip="Añadir información pastoral" matTooltipClass="example-tooltip-grey" class="btn btn-dp-gold-dio  btn-round btn-fab " >    <span class="input-group-text"  >
            <i class="material-icons sizeIconDio"  style="color: #BA7221;">add</i>
          </span></button>
        <div class="col-12 col-sm-5 col-xl-2" *ngIf="permissCrud.create===1 && create===true" style="margin-left: 15px;">
            <button matTooltip="Guardar" matTooltipClass="example-tooltip-grey"  type="submit" class=" btn btn-dp-green-dio  btn-block btn-round " [disabled]="!myForm.dirty"  > <mat-icon>save</mat-icon></button>
        </div>
    

    </div>
</form>
