// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $purple-500 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;

//------------------------------------------------------
//Brand-colors-Diocesis principales 
//Brand
// $dp-yellow-150 =→   $dp-yellow-c-900            
// $dp-yellow-100 =→   $dp-yellow-b-800            
// $dp-yellow-50 =→   $dp-yellow-a-400            
// $dp-grey-100   =→   $dp-grey-b-200             
// $dp-grey-50   =→   $dp-grey-a-50              
// $dp-red-150    =→   $dp-red-c-800              
// $dp-red-100    =→   $dp-red-b-800              
// $dp-red-50    =→   $dp-red-a-700              
// $dp-blue-100   =→   $dp-blue-b-500             
// $dp-blue-50   =→   $dp-blue-a-300             
// $dp-green-150  =→   $dp-green-c-900            
// $dp-green-100  =→   $dp-green-b-600:            
// $dp-green-50  =→   $dp-green-a-200:            


//Paleta de colores Diocesis de pasto


//YELLOW
$dp-yellow-c-900:              $dpv-yellow-c-900!default;
$dp-yellow-c-800:              $dpv-yellow-c-800!default;
$dp-yellow-c-700:              $dpv-yellow-c-700!default;
$dp-yellow-c-600:              $dpv-yellow-c-600!default;
$dp-yellow-c-500:              $dpv-yellow-c-500!default;
$dp-yellow-c-400:              $dpv-yellow-c-400!default;
$dp-yellow-c-300:              $dpv-yellow-c-300!default;
$dp-yellow-c-200:              $dpv-yellow-c-200!default;
$dp-yellow-c-100:              $dpv-yellow-c-100!default;
$dp-yellow-c-50 :              $dpv-yellow-c-50 !default;

$dp-yellow-b-900:              $dpv-yellow-b-900!default;
$dp-yellow-b-800:              $dpv-yellow-b-800!default;
$dp-yellow-b-700:              $dpv-yellow-b-700!default;
$dp-yellow-b-600:              $dpv-yellow-b-600!default;
$dp-yellow-b-500:              $dpv-yellow-b-500!default;
$dp-yellow-b-400:              $dpv-yellow-b-400!default;
$dp-yellow-b-300:              $dpv-yellow-b-300!default;
$dp-yellow-b-200:              $dpv-yellow-b-200!default;
$dp-yellow-b-100:              $dpv-yellow-b-100!default;
$dp-yellow-b-50:               $dpv-yellow-b-50 !default;

$dp-yellow-a-900:               $dpv-yellow-a-900  !default;
$dp-yellow-a-800:               $dpv-yellow-a-800  !default;
$dp-yellow-a-700:               $dpv-yellow-a-700  !default;
$dp-yellow-a-600:               $dpv-yellow-a-600  !default;
$dp-yellow-a-500:               $dpv-yellow-a-500  !default;
$dp-yellow-a-400:               $dpv-yellow-a-400  !default;
$dp-yellow-a-300:               $dpv-yellow-a-300  !default;
$dp-yellow-a-200:               $dpv-yellow-a-200  !default;
$dp-yellow-a-100:               $dpv-yellow-a-100  !default;
$dp-yellow-a-50:                $dpv-yellow-a-50   !default;

//GREY
$dp-grey-b-900:                  $dpv-grey-b-900!default;
$dp-grey-b-800:                  $dpv-grey-b-800!default;
$dp-grey-b-700:                  $dpv-grey-b-700!default;
$dp-grey-b-600:                  $dpv-grey-b-600!default;
$dp-grey-b-500:                  $dpv-grey-b-500!default;
$dp-grey-b-400:                  $dpv-grey-b-400!default;
$dp-grey-b-300:                  $dpv-grey-b-300!default;
$dp-grey-b-200:                  $dpv-grey-b-200!default;
$dp-grey-b-100:                  $dpv-grey-b-100!default;
$dp-grey-b-50:                   $dpv-grey-b-50!default;

$dp-grey-a-900:                  $dpv-grey-a-900!default;
$dp-grey-a-800:                  $dpv-grey-a-800!default;
$dp-grey-a-700:                  $dpv-grey-a-700!default;
$dp-grey-a-600:                  $dpv-grey-a-600!default;
$dp-grey-a-500:                  $dpv-grey-a-500!default;
$dp-grey-a-400:                  $dpv-grey-a-400!default;
$dp-grey-a-300:                  $dpv-grey-a-300!default;
$dp-grey-a-200:                  $dpv-grey-a-200!default;
$dp-grey-a-100:                  $dpv-grey-a-100!default;
$dp-grey-a-50:                   $dpv-grey-a-50!default;

//RED
$dp-red-c-900:                  $dpv-red-c-900!default;
$dp-red-c-800:                  $dpv-red-c-800!default;
$dp-red-c-700:                  $dpv-red-c-700!default;
$dp-red-c-600:                  $dpv-red-c-600!default;
$dp-red-c-500:                  $dpv-red-c-500!default;
$dp-red-c-400:                  $dpv-red-c-400!default;
$dp-red-c-300:                  $dpv-red-c-300!default;
$dp-red-c-200:                  $dpv-red-c-200!default;
$dp-red-c-100:                  $dpv-red-c-100!default;
$dp-red-c-50:                   $dpv-red-c-50!default;

$dp-red-b-900:                  $dpv-red-b-900!default;
$dp-red-b-800:                  $dpv-red-b-800!default;
$dp-red-b-700:                  $dpv-red-b-700!default;
$dp-red-b-600:                  $dpv-red-b-600!default;
$dp-red-b-500:                  $dpv-red-b-500!default;
$dp-red-b-400:                  $dpv-red-b-400!default;
$dp-red-b-300:                  $dpv-red-b-300!default;
$dp-red-b-200:                  $dpv-red-b-200!default;
$dp-red-b-100:                  $dpv-red-b-100!default;
$dp-red-b-50:                   $dpv-red-b-50!default;

$dp-red-a-900:                  $dpv-red-a-900!default;
$dp-red-a-800:                  $dpv-red-a-800!default;
$dp-red-a-700:                  $dpv-red-a-700!default;
$dp-red-a-600:                  $dpv-red-a-600!default;
$dp-red-a-500:                  $dpv-red-a-500!default;
$dp-red-a-400:                  $dpv-red-a-400!default;
$dp-red-a-300:                  $dpv-red-a-300!default;
$dp-red-a-200:                  $dpv-red-a-200!default;
$dp-red-a-100:                  $dpv-red-a-100!default;
$dp-red-a-50:                   $dpv-red-a-50!default;

//BLUE
$dp-blue-b-900:                  $dpv-blue-b-900!default;
$dp-blue-b-800:                  $dpv-blue-b-800!default;
$dp-blue-b-700:                  $dpv-blue-b-700!default;
$dp-blue-b-600:                  $dpv-blue-b-600!default;
$dp-blue-b-500:                  $dpv-blue-b-500!default;
$dp-blue-b-400:                  $dpv-blue-b-400!default;
$dp-blue-b-300:                  $dpv-blue-b-300!default;
$dp-blue-b-200:                  $dpv-blue-b-200!default;
$dp-blue-b-100:                  $dpv-blue-b-100!default;
$dp-blue-b-50:                   $dpv-blue-b-50!default;

$dp-blue-a-900:                  $dpv-blue-a-900!default;
$dp-blue-a-800:                  $dpv-blue-a-800!default;
$dp-blue-a-700:                  $dpv-blue-a-700!default;
$dp-blue-a-600:                  $dpv-blue-a-600!default;
$dp-blue-a-500:                  $dpv-blue-a-500!default;
$dp-blue-a-400:                  $dpv-blue-a-400!default;
$dp-blue-a-300:                  $dpv-blue-a-300!default;
$dp-blue-a-200:                  $dpv-blue-a-200!default;
$dp-blue-a-100:                  $dpv-blue-a-100!default;
$dp-blue-a-50:                   $dpv-blue-a-50!default;

//GREEN
$dp-green-c-900:                  $dpv-green-c-900!default;
$dp-green-c-800:                  $dpv-green-c-800!default;
$dp-green-c-700:                  $dpv-green-c-700!default;
$dp-green-c-600:                  $dpv-green-c-600!default;
$dp-green-c-500:                  $dpv-green-c-500!default;
$dp-green-c-400:                  $dpv-green-c-400!default;
$dp-green-c-300:                  $dpv-green-c-300!default;
$dp-green-c-200:                  $dpv-green-c-200!default;
$dp-green-c-100:                  $dpv-green-c-100!default;
$dp-green-c-50:                   $dpv-green-c-50!default;

$dp-green-b-900:                  $dpv-green-b-900!default;
$dp-green-b-800:                  $dpv-green-b-800!default;
$dp-green-b-700:                  $dpv-green-b-700!default;
$dp-green-b-600:                  $dpv-green-b-600!default;
$dp-green-b-500:                  $dpv-green-b-500!default;
$dp-green-b-400:                  $dpv-green-b-400!default;
$dp-green-b-300:                  $dpv-green-b-300!default;
$dp-green-b-200:                  $dpv-green-b-200!default;
$dp-green-b-100:                  $dpv-green-b-100!default;
$dp-green-b-50:                   $dpv-green-b-50!default;

$dp-green-a-900:                  $dpv-green-a-900!default;
$dp-green-a-800:                  $dpv-green-a-800!default;
$dp-green-a-700:                  $dpv-green-a-700!default;
$dp-green-a-600:                  $dpv-green-a-600!default;
$dp-green-a-500:                  $dpv-green-a-500!default;
$dp-green-a-400:                  $dpv-green-a-400!default;
$dp-green-a-300:                  $dpv-green-a-300!default;
$dp-green-a-200:                  $dpv-green-a-200!default;
$dp-green-a-100:                  $dpv-green-a-100!default;
$dp-green-a-50:                   $dpv-green-a-50!default;








