// Buttons:
$bmd-btn-font-size: .875rem !default; // 14px
$bmd-btn-font-size-lg: 1.25rem !default;
$bmd-btn-font-size-sm: .6875rem !default; // 11px
$bmd-btn-margin-bottom: .3125rem !default; // 5px

// default btn with no specific type designation
$bmd-btn-color: $gray-dark !default;
$bmd-btn-bg: transparent !default; //$body-bg !default; // #fff
$bmd-btn-border: #ccc !default;

$bmd-btn-focus-bg: rgba(#999, .20) !default; // spec: bg Hover: 20% #999999
$bmd-btn-active-bg: rgba(#999, .40) !default; // spec: bg Pressed: 40% #999999
$bmd-btn-disabled: rgba($black, .26) !default; // spec: light theme: Disabled text: 26% $black

$bmd-inverse-btn-focus-bg: rgba(#ccc, .15) !default; // spec: dark bg Hover: 15% #CCCCCC
$bmd-inverse-btn-active-bg: rgba(#ccc, .25) !default; // spec: dark Pressed: 25% #CCCCCC
$bmd-inverse-btn-disabled: rgba($white, .30) !default; // spec: dark theme: Disabled text: 30% $white

$bmd-btn-fab-size: 3.5rem !default; // 56px
$bmd-btn-fab-size-sm: 2.5rem !default; // 40px
$bmd-btn-fab-font-size: 1.5rem !default; // 24px

// icons
$bmd-btn-icon-size: 2rem !default; // 32px
$bmd-btn-icon-size-sm: (.75 * $bmd-btn-icon-size) !default; // ~24px
$bmd-btn-icon-font-size-sm: (.75 * $bmd-btn-fab-font-size) !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$input-btn-padding-x:                  1rem !default; // 1rem
$input-btn-padding-y:                  .46875rem !default; // .5rem achieve a 36dp height
//$input-btn-line-height:                1 !default; //1.25
$btn-font-weight:                400 !default; // normal
$btn-box-shadow:                 none !default;
$btn-active-box-shadow:          none !default; // inset 0 3px 5px rgba(0,0,0,.125)

//
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border-color:             $btn-primary-bg !default;
//
$btn-secondary-color:            $gray-dark !default;
$btn-secondary-bg:               $body-bg !default; // #fff
$btn-secondary-border-color:           #ccc !default;
//
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border-color:                $btn-info-bg !default;
//
$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border-color:             $btn-success-bg !default;
//
$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border-color:             $btn-warning-bg !default;
//
$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border-color:              $btn-danger-bg !default;

$btn-rose-color:                 #fff !default;
$btn-rose-bg:                    $brand-rose !default;
$btn-rose-border-color:              $btn-rose-bg !default;

$btn-default-color:                 #fff !default;
$btn-default-bg:                    $gray-color !default;
$btn-default-border-color:              $btn-default-bg !default;
//
$btn-link-disabled-color:        $gray-light !default;
//
$input-btn-padding-x-sm:               1.25rem !default;
$input-btn-padding-y-sm:               .40625rem !default; // achieve a 32dp height was .25rem

$input-btn-padding-y-lg:    1.125rem !default;
$input-btn-padding-x-lg:    2.25rem  !default;

//----------------Diócesis---------------------------------------------
//------------------------------------------------------
//Brand-colors-Diocesis principales 
//Brand
// $dp-yellow-c-900 =→   $dp-yellow-c-900            
// $dp-yellow-b-800 =→   $dp-yellow-b-800            
// $dp-yellow-a-400 =→   $dp-yellow-a-400            
// $dp-grey-b-200   =→   $dp-grey-b-200             
// $dp-grey-a-50   =→   $dp-grey-a-50              
// $dp-red-a-700     =→   $dp-red-a-700              
// $dp-blue-100   =→   $dp-blue-b-500             
// $dp-blue-50   =→   $dp-blue-a-300               
// $dp-blue-b-500   =→   $dp-blue-b-500             
// $dp-blue-a-300   =→   $dp-blue-a-300             
// $dp-green-c-900  =→   $dp-green-c-900            
// $dp-green-b-600  =→   $dp-green-b-600:            
// $dp-green-a-200  =→   $dp-green-a-200:            


//blue
$btn-dp-blue-dio:              white!default;
$btn-dp-blue-dio-bg:              white!default;
$btn-dp-blue-dio-border-color:            solid 2px black!default;
//red
$btn-dp-red-dio:              white!default;
$btn-dp-red-dio-bg:              white!default;
$btn-dp-red-dio-border-color:            solid 2px black!default;
//green
$btn-dp-green-dio:              white!default;
$btn-dp-green-dio-bg:              white!default;
$btn-dp-green-dio-border-color:            solid 2px black!default;
//green
$btn-dp-gold-dio:              white!default;
$btn-dp-gold-dio-bg:              white!default;
$btn-dp-gold-dio-border-color:            solid 2px black!default;

//gold



//
$btn-dp-yellow-c-900-color:                 #ffff!default;
$btn-dp-yellow-c-900-bg:                    $dp-yellow-c-900 !default;
$btn-dp-yellow-c-900-border-color:              $dp-yellow-c-900!default;

$btn-dp-yellow-b-800-color:                  black!default;
$btn-dp-yellow-b-800-bg:                    $dp-yellow-b-800!default;
$btn-dp-yellow-b-800-border-color:              $dp-yellow-b-800!default;

$btn-dp-yellow-a-400-color:                 #ffff!default;
$btn-dp-yellow-a-400-bg:                    $dp-yellow-a-400!default;
$btn-dp-yellow-a-400-border-color:              $dp-yellow-a-400!default;

$btn-dp-grey-b-200-color:                 black!default;
$btn-dp-grey-b-200-bg:                    $dp-grey-b-200!default;
$btn-dp-grey-b-200-border-color:              $dp-grey-b-200!default;

$btn-dp-grey-a-50-color:                 black!default;
$btn-dp-grey-a-50-bg:                    $dp-grey-a-50!default;
$btn-dp-grey-a-50-border-color:              $dp-grey-a-50 !default;

$btn-dp-red-a-700-color:                 #ffff!default;
$btn-dp-red-a-700-bg:                    $dp-red-a-700 !default;
$btn-dp-red-a-700-border-color:              $dp-red-a-700!default;

$btn-dp-red-b-800-color:                 #ffff!default;
$btn-dp-red-b-800-bg:                    $dp-red-b-800!default;
$btn-dp-red-b-800-border-color:              $dp-red-b-800!default;

$btn-dp-red-c-800-color:                 #ffff!default;
$btn-dp-red-c-800-bg:                    $dp-red-c-800!default;
$btn-dp-red-c-800-border-color:              $dp-red-c-800!default;

$btn-dp-blue-a-300-color:                 #ffff !default;
$btn-dp-blue-a-300-bg:                    $dp-blue-a-300!default;
$btn-dp-blue-a-300-border-color:              $dp-blue-a-300!default;

$btn-dp-blue-b-500-color:                 #ffff!default;
$btn-dp-blue-b-500-bg:                    $dp-blue-b-500!default;
$btn-dp-blue-b-500-border-color:              $dp-blue-b-500!default;

$btn-dp-green-a-200-color:                 #ffff !default;
$btn-dp-green-a-200-bg:                    $dp-green-a-200!default;
$btn-dp-green-a-200-border-color:              $dp-green-a-200!default;

$btn-dp-green-b-600-color:                 #ffff!default;
$btn-dp-green-b-600-bg:                    $dp-green-b-600!default;
$btn-dp-green-b-600-border-color:              $dp-green-b-600!default;

$btn-dp-green-c-900-color:                 #ffff!default;
$btn-dp-green-c-900-bg:                    $dp-green-c-900!default;
$btn-dp-green-c-900-border-color:              $dp-green-c-900!default;


//
//$input-btn-padding-x-lg:               1.5rem !default;
//$input-btn-padding-y-lg:               .75rem !default;
//
//// Allows for customizing button radius independently from global border radius
//$btn-border-radius:              $border-radius !default;
//$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:             .1875rem !default;
$border-radius-extreme:            2rem !default;


