

<div class="card" >
    <div class="card-body">
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="createRole()" style="margin-top: 20px;">
            <div class="row  justify-content-center mb-2 ">
                <div class="col-12 col-sm-12 col-md-6 paddCols">
        
                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="nameRole" autocomplete="off"
                            placeholder="Nombre de rol">
                    </mat-form-field>
                    <div style="display: block; " *ngIf="campoNoValido('nameRole')">
                        <small class="text-danger ">
                            Nombre de rol es obligatorio</small>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center mb-2">
                <div class="col-12 col-sm-12 col-md-6 paddCols">
        
        
                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="description" autocomplete="off"
                            placeholder="Descripción">
                    </mat-form-field>
               
                    <div style="display: block; " *ngIf="campoNoValido('description')">
                        <small class=" text-danger ">
                            Descripción de rol es obligatoria</small>
                    </div>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-4">
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                    <button matTooltip="Volver a lista de roles" matTooltipClass="example-tooltip-grey" type="button" class="btn btn-dp-gold-dio btn-block  btn-round"
                        routerLink="/session/role/principal"><mat-icon>arrow_back</mat-icon></button>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15" >
                    <button matTooltip="Añadir rol" matTooltipClass="example-tooltip-grey"  type="button" class="btn btn-dp-green-dio  btn-block  btn-round" 
                        (click)="createRole()"><mat-icon>save</mat-icon></button>
                </div>
            </div>
        </form>

    </div>
</div>