<form [formGroup]="myFormImg"   (ngSubmit)="onSubmitPrueba()" *ngIf="create===false ">
    <div class=" row justify-content-center " style="margin-left: 0px!important;">
        <div class="col-10  col-sm-8 col-lg-6 col-xl-4 col-xxl-2">
        
            <mat-card class="example-card mt-3">
                <mat-card-content>
                    <div style="text-align: right;" *ngIf="imgBool===true && view===false && permissCrud.delete===1">
                        <img style="margin-left:60px;margin-right:60px;" (click)="deletePersonalImage()" id="skip-link"
                            src="/assets/img/cancelar.png" alt="" width=20 height=20 style=" filter: grayscale(45%);"
                            matTooltip="Eliminar foto" matTooltipClass="example-tooltip-grey">
                    </div>
                    <img title="Cambiar imagen" mat-card-image [src]='urlImg' alt="Diocesano"
                        style="padding: 5px; border-radius: 5%;cursor:pointer;">
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class=" form-group row justify-content-center" *ngIf="view===false">
        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 col-xl-3  " style="margin-left: 15px;"
            *ngIf="imgBoolUpdate===false">
            <input style="display: none" type="file" (change)="onSelectFile2($event)" #Jiddenfileinput
                accept=".png,.jpeg,.jpg,.PNG,.JPEG,.JPG">
            <button (click)="Jiddenfileinput.click()" class="btn btn-dp-gold-dio btn-block " type="button"
              style="color: black!important;">
                Cargar imagen
                <mat-icon>add_a_photo</mat-icon>
            </button>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xl-2  mg-lf-15 " *ngIf="imgBoolUpdate===true">
            <button matTooltip="Subir imagen" matTooltipClass="example-tooltip-grey"
                class="btn btn-dp-red-dio btn-block sizeBoxImg" type="button " (click)="getPersonalImg()"><i
                    class="material-icons left">report_problem</i>Cancelar</button>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xl-2  mg-lf-15 " *ngIf="imgBoolUpdate===true">
            <button matTooltip="Subir imagen" matTooltipClass="example-tooltip-grey"
                class="btn btn-dp-green-dio btn-block sizeBoxImg" type="submit"><i
                    class="material-icons left">save</i>GUARDAR</button>
        </div>
    </div>
    <div class="mt-4 mb-4">
        <div class="separate-line"></div>
    </div>
</form>
<form  autocomplete="off" [attr.disabled]="(view? true :null) || (verificatePersonal()? null : true )"
    [formGroup]="myForm" (ngSubmit)="personalInformation()" class="mg-top-20">
    <div class="row justify-content-center mt-4">
        
        <div class="col-12  col-md-5">



            <mat-form-field class="example-full-width " >
              
                <input required for="title" matInput type="text" class="font-size-large" formControlName="firstName"
                    autocomplete="off" placeholder="Primer nombre ">
                  
            </mat-form-field>

            <div class="dp-block-dio" *ngIf="(campoNoValido('firstName'))">
                <small class="text-danger"> {{errorMsgForm('firstName','Primer nombre')}}</small>
            </div>

        </div>
        <div class="col-12  col-md-5">


            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="secondName"
                     autocomplete="off" placeholder="Segundo nombre">
            </mat-form-field>

            <div class="dp-block-dio" *ngIf="(campoNoValido('secondName'))">
                <small class="text-danger"> {{errorMsgForm('secondName','Segundo nombre')}}</small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center  mt-2">
        <div class="col-12  col-md-5">

            <mat-form-field class="example-full-width">
                <input required matInput type="text" class="font-size-large" formControlName="firstSurname"
                    autocomplete="off" placeholder="Primer apellido ">
              
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('firstSurname'))">
                <small class="text-danger"> {{errorMsgForm('firstSurname','Primer apellido')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="secondSurname"
                     autocomplete="off" placeholder="Segundo apellido">
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('secondSurname'))">
                <small class="text-danger"> {{errorMsgForm('secondSurname','Segundo apellido')}}</small>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-12  col-md-5">

            <div class="row justify-content-center">

                <div class="col-12">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>Fecha de nacimiento </mat-label>
                        <input required matInput [matDatepicker]="dp1" disabled formControlName="dateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="dp1" >
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                      
                    </mat-form-field>
                </div>
            </div>

            <div class="dp-block-dio" *ngIf="(campoNoValido('dateOfBirth'))">
                <small class="text-danger"> {{errorMsgForm('dateOfBirth','Fecha de nacimiento')}}</small>
            </div>
        </div>

        <div class="col-12  col-md-5">
    
            <div class="row justify-content-center">


                <div class="col-12">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>País de nacimiento</mat-label>
                        <mat-select  (selectionChange)="changeCountry(pais)"
                            [(ngModel)]="pais" formControlName="countryOfBirth">
                            <mat-option *ngFor="let userType of Paises" [value]="userType.name">
                                {{ userType.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="dp-block-dio" *ngIf="(campoNoValido('countryOfBirth'))">
                <small class="text-danger"> {{errorMsgForm('countryOfBirth','País de
                    nacimiento')}}</small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12  col-md-5" *ngIf="pais!=='Colombia'">
  
            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="departmentOfBirth"
                    autocomplete="off" placeholder="Departamento de nacimiento">
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('departmentOfBirth'))">
                <small class="text-danger"> {{errorMsgForm('departmentOfBirth','Departamento de
                    nacimiento')}}</small>
            </div>
        </div>

        <div class="col-12  col-md-5" *ngIf="pais==='Colombia'">
            <div class="row justify-content-center" *ngIf="pais=='Colombia'">


                <div class="col-12">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>Departamento de nacimiento</mat-label>
                        <mat-select  [(ngModel)]="departamento"
                            (selectionChange)="cambiosDepertamentos(departamento)" formControlName="departmentOfBirth">
                            <mat-option *ngFor="let departament of departamentoArray"
                                [value]="departament.departamento">
                                {{ departament.departamento }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="dp-block-dio" *ngIf="(campoNoValido('departmentOfBirth'))">
                <small class="text-danger"> {{errorMsgForm('departmentOfBirth','Departamento de
                    nacimiento')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5" *ngIf="pais!=='Colombia'">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="cityOfBirth"
                    autocomplete="off" placeholder="Ciudad o municipio de nacimiento">
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('cityOfBirth'))">
                <small class="text-danger"> {{errorMsgForm('cityOfBirth','Lugar de nacimiento')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5" *ngIf="pais==='Colombia'">
            <div class="row justify-content-center">
                <div class="col-12">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>Ciudad o municipio de nacimiento</mat-label>
                        <mat-select  [(ngModel)]="city"
                            formControlName="cityOfBirth">
                            <mat-option *ngFor="let userType of cityArray" [value]="userType">
                                {{ userType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="dp-block-dio" *ngIf="(campoNoValido('cityOfBirth'))">
                <small class="text-danger"> {{errorMsgForm('cityOfBirth','Lugar de nacimiento')}}</small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12  col-md-5">
            <div class="row justify-content-center">

                <div class="col-12 ">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>Fecha expedición de documento</mat-label>
                        <input matInput [matDatepicker]="dp100" disabled formControlName="expeditionDocumentDate">
                        <mat-datepicker-toggle matSuffix [for]="dp100" >
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp100 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>
        <div class="col-12  col-md-5">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="expeditionDocumentPlace"
                    autocomplete="off" placeholder="Lugar expedición de documento">
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('expeditionDocumentPlace'))">
                <small class="text-danger"> {{errorMsgForm('expeditionDocumentPlace','Lugar expedición de
                    documento')}}</small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12  col-md-5">
            <div class="row justify-content-center">

                <div class="col-12">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>Tipo de sangre </mat-label>
                        <mat-select required  formControlName="bloodType">
                            <mat-option *ngFor="let userType of bloodType" [value]="userType">
                                {{ userType }}
                            </mat-option>
                        </mat-select>
                      
                    </mat-form-field>
                </div>
            </div>

            <div class="dp-block-dio" *ngIf="(campoNoValido('bloodType'))">
                <small class="text-danger"> {{errorMsgForm('bloodType',' Tipo de sangre')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5">
            <div class="row justify-content-center">

                <div class="col-12">
                    <mat-form-field class="elementSizeCien">
                        <mat-label>Género</mat-label>
                        <mat-select  formControlName="gender">
                            <mat-option *ngFor="let userType of genderList" [value]="userType">
                                {{userType | gener}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="dp-block-dio" *ngIf="(campoNoValido('gender'))">
                <small class="text-danger"> {{errorMsgForm('gender','Género')}}</small>
            </div>

        </div>

    </div>
    <div class="row justify-content-center mt-2 ">
        <div class="col-12  col-md-5">
  

            <mat-form-field class="example-full-width">

                <input required matInput type="text" class="font-size-large" formControlName="contactNumberOne"
                     autocomplete="off" placeholder="Número de teléfono principal ">
                   
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('contactNumberOne'))">
                <small class="text-danger"> {{errorMsgForm('contactNumberOne','Número
                    principal')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="contactNumberTwo"
                     autocomplete="off" placeholder="Teléfono / Celular 2">
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('contactNumberTwo'))">
                <small class="text-danger"> {{errorMsgForm('contactNumberTwo','Teléfono-celular
                    2')}}</small>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-2">

        <div class="col-12  col-md-5">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="residenceAddress"
                     autocomplete="off" placeholder="Dirección de residencia">
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('residenceAddress'))">
                <small class="text-danger"> {{errorMsgForm('residenceAddress','Dirección de residencia')}}
                </small>
            </div>
        </div>
        <div class="col-12  col-md-5">

        </div>
    </div>

    
   
    <div class=" row justify-content-center   mt-2 " *ngIf="view===false">
        <div class="col-3 col-lg-2" *ngIf="create===true && permissCrud.create===1">
            <button matTooltip="Guardar" matTooltipClass="example-tooltip-grey" type="submit"
                class="btn btn-dp-green-dio btn-round btn-block sizeBox "
              ><mat-icon>save</mat-icon></button>
        </div>

    </div>
</form>
<div   class="row justify-content-center justify-content-sm-end  mt-2" *ngIf="view===false">
    <div class="col-7 col-sm-3 col-lg-3 col-xl-2" *ngIf="update===true  && permissCrud.update===1">
        <button matTooltip="Actualizar" matTooltipClass="example-tooltip-grey" type="button"
            class="btn btn-dp-green-dio btn-round  btn-block  sizeBoxArrayForm"  
            (click)="updatePersonal()"> <mat-icon>upgrade</mat-icon></button>
    </div>
    <div class="col-7 col-sm-3 col-lg-3 col-xl-2  "
        *ngIf="delete===true  && permissCrud.delete===1 ">
        <button matTooltip="Eliminar" matTooltipClass="example-tooltip-grey" type="button"
            class="btn btn-dp-red-dio btn-round  btn-block sizeBoxArrayForm" [disabled]="delete===false"
            (click)="deletePersonal()"> <mat-icon>delete</mat-icon> </button>
    </div> 


</div>