<form autocomplete="off" [attr.disabled]="(view? true :null) || (verificateFamily()? null : true )" [formGroup]="myForm"
    (ngSubmit)="familyContact()" style="margin-top: 20px;">

    <div class="row justify-content-center">
        <div class="col-12  col-md-5 mt-2">

            <mat-form-field class="example-full-width">
                <input required  matInput type="text" class="font-size-large"
                    formControlName="fullName" autocomplete="off" placeholder="Nombre completo">

            </mat-form-field>

            <div class="dp-block-dio" *ngIf="(campoNoValido('fullName'))">
                <small class="text-danger"> {{errorMsgForm('fullName','Nombre completo')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5 mt-2">
            <div class="row justify-content-center">

                <div class="col-12">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Parentesco</mat-label>
                        <mat-select required  formControlName="relationship">
                            <mat-option *ngFor="let userType of familyArray" [value]="userType">
                                {{ userType }}
                            </mat-option>
                            
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
            <div class="dp-block-dio" *ngIf="(campoNoValido('relationship'))">
                <small class="text-danger"> {{errorMsgForm('relationship','Parentesco')}}</small>
            </div>


        </div>
        <div class="col-12  col-md-5 mt-2">
            <mat-form-field class="example-full-width">
                <input required  matInput type="text" class="font-size-large"
                    formControlName="phoneOne" autocomplete="off" placeholder="Teléfono principal">

            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('phoneOne'))">
                <small class="text-danger"> {{errorMsgForm('phoneOne','Teléfono principal')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5 mt-2">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="phoneTwo" autocomplete="off"
                    placeholder="Teléfono / Celular 2" >
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('phoneTwo'))">
                <small class="text-danger"> {{errorMsgForm('phoneTwo','Teléfono / Celular 2')}}</small>
            </div>
        </div>
        <div class="col-12  col-md-5 mt-2">

            <mat-form-field class="example-full-width">
                <input matInput type="text" class="font-size-large" formControlName="phoneThree" autocomplete="off"
                    placeholder="Teléfono / Celular 3" >
            </mat-form-field>
            <div class="dp-block-dio" *ngIf="(campoNoValido('phoneThree'))">
                <small class="text-danger"> {{errorMsgForm('phoneThree','Teléfono / Celular 3')}}</small>
            </div>
        </div>
    </div>





    <div class="form-group row justify-content-center" *ngIf="view===false">
        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-2  mg-lf-15" *ngIf="create===true && permissCrud.create===1">
            <button matTooltip="Guardar " matTooltipClass="example-tooltip-grey" type="submit"
                class="btn btn-dp-green-dio  btn-block btn-round sizeBox">
                <mat-icon>save</mat-icon>
            </button>
        </div>

    </div>
</form>

<div class="row justify-content-center justify-content-sm-end  mt-2" *ngIf="view===false">
    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 " *ngIf="update===true  && permissCrud.update===1"
  >
        <button matTooltip="Actualizar " matTooltipClass="example-tooltip-grey" type="button"
            class="btn btn-dp-green-dio  btn-block btn-round  btn-block sizeBoxArrayForm" (click)="updatePersonal()">
            <mat-icon>upgrade</mat-icon>
        </button>
    </div>
    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 "
        *ngIf="delete===true  && permissCrud.delete===1  ">
        <button matTooltip="Eliminar " matTooltipClass="example-tooltip-grey" type="button"
            class="btn btn-dp-red-dio btn-block btn-round sizeBoxArrayForm" [disabled]="delete===false" (click)="deleteFamily()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>


</div>
<!-- [disabled]="!myForm.dirty" -->