<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">  
        <div class="col-12">
          <div class="card ">
            <div class="card-header card-header-dp-yellow-c-100 card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contact_page</i>
              </div>
            </div>
            <div class="card-body">
                <div class="card-body" style="margin-bottom: 80px;">
                    <div class="row">
                        <div class="col-2 mb-4">
                            <button matTooltip="Volver a dashboard" matTooltipClass="example-tooltip-grey" routerLink="['/dashboard']" type="button" class="sizeBox btn btn-dp-gold-dio btn-round  btn-block" 
                           ><span class="material-icons">
                            arrow_back
                            </span></button >
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div style="text-align: center;">
                                <img class="img-fluid imge" src="/assets/img/usuarioProfile2.png"
                                    style="margin-bottom: 20px;" alt="Logo Diocesis De Pasto">
                                <span class="txtSize float-buttom" style="margin-top: 100px;">Mi Perfil</span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 ">
                            <p class="txtAviso" style="text-align: justify;"> Por favor actualice la información que a continuación se solicita.Tenga en cuenta que
                                los cambios se salvarán, únicamente al presionar el botón "GUARDAR O ACTUALIZAR".</p>
                                <mat-accordion class="example-headers-align">
               



                                    <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                        <mat-expansion-panel-header class="colorHeader"   style="padding: 30px!important ;"  >
                                            <mat-panel-title class="textHeader right-aligned-header" >
                                                 Datos Principales
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                
                                                <app-user-information [idchild]="idUser" [permissCrud]="crudUser" ></app-user-information>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel *ngIf="profilePermissions.informacionPersonal===true" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                                        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
                                            <mat-panel-title class="textHeader " >
                                                Información Personal
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                <app-personal-information [idchild]="idUser" [permissCrud]="crudDataPerson" ></app-personal-information>
                                                
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel *ngIf="profilePermissions.informacionMinisterial===true" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                                        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
                                            <mat-panel-title class="textHeader" >
                                                Información Ministerial
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                <div class="container-fluid" *ngIf="step==2">
                                               
                                                    <app-menisterial-information  [idchild]="idUser"  [permissCrud]="crudMenisterial"></app-menisterial-information>
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel *ngIf="profilePermissions.informacionAcademica===true" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                                        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
                                            <mat-panel-title class="textHeader" >
                                                Información Académica
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                <div class="container-fluid" *ngIf="step==3">
                                                    <app-academic-information [idchild]="idUser"  [permissCrud]="crudAcademy"></app-academic-information>
                                                   
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel *ngIf="profilePermissions.reconocimientos===true" [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                                        <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;"> 
                                            <mat-panel-title class="textHeader" >
                                                Reconocimientos
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                <div class="container-fluid" *ngIf="step==4">
                                                    <app-recognition-information  [idchild]="idUser"  [permissCrud]="crudRecognition"></app-recognition-information>
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel *ngIf="profilePermissions.experienciaPastoral===true" [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                                    <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
                                            <mat-panel-title class="textHeader" >
                                                Información Pastoral
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                <div class="container-fluid">
                                                    <app-pastoral-information  [idchild]="idUser"  [permissCrud]="crudPastoral"></app-pastoral-information>
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel *ngIf="profilePermissions.contactoFamiliar===true" [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
                                    <mat-expansion-panel-header class="colorHeader" style="padding: 30px ;">
                                            <mat-panel-title class="textHeader" >
                                                Contacto familiar
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                <mat-icon class="iconDown">expand_more</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            <div class="container-fluid">
                                                <div class="container-fluid">
                                                    <app-family-contact-information  [idchild]="idUser"  [permissCrud]="crudFamily"></app-family-contact-information>
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
