.outlet{

    display: flex;
    z-index: -1;
  }
  .spinner{
    display: flex;
    z-index: 10000000;
  }
  .btn-dp-blue-dio{
    border: solid 2px #42c1f2!important;
    font-weight: bold;
  }
  .btn-dp-red-dio{
    border: solid 2px #EB5D5D!important;
    font-weight: bold;
  }
  .btn-dp-green-dio{
    border: solid 2px #5EC153!important;
    font-weight: bold;
  }
  .btn-dp-gold-dio{
    border: solid 2px #BA7221!important;
    font-weight: bold;
  }
  .example-tooltip-grey {
  
    background-color: #4D4D4D;
    color: white!important;
    font-family: Lato, sans-serif;
    font-size: 12px;
  }
  .pointer{
    cursor: pointer
   }
  
  
  .margeLabel{
  
  color: #669871;
  font-weight: bold;
  }
  .academicTitle{
  text-align: center;font-weight:bolder
  }
  .elementSizeCien{
  width: 100%;
  }
  .mgTop30{
  margin-top: 10px;
  }
  .dp-block-dio{
  display: block;
  }
  .font-size-large{
  font-size:large;
  color: black!important;
  }
  .pd-top-10{
  padding-top: -10px!important;
  }
  .separate-line{
  border-bottom: solid 5px #47CAB2;margin-left: 10px;
  }
  
  .mg-top-20{
  margin-top: 20px;
  }
  .mg-top-10{
  margin-top: 10px;
  }
  @media (min-width: 800px) {
  .sizeIconDio{
    font-size: 30px;
  }
  }
  @media (min-width: 800px) {
    .sizeIconDio{
      font-size: 30px;
    }
  }
  @media (max-width: 768px) {
  
  
    .sizeIconDio{
      font-size: 20px;
    }
  
  }
  mat-form-field {
    width: 100%;
  }
  
  
  /* 265022 */
  .form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #265022 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px
  , rgba(210, 210, 210, 0) 1px)!important;
  }
  .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #B99749 !important;
  }
  .mat-option:hover:not(.mat-option-disabled) {
  background: #DABB74 !important;
  box-shadow: none;
  }
  .mat-option.mat-selected:not(.mat-option-multiple) {
  box-shadow: none;
  }
  /* Border */
  ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #265022;
  box-shadow: none;
  }
  :host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
  color:black !important;
  }
  
  
  
  
  
  
  .mat-calendar-body-selected {
  background-color: #B99749!important;
  color: white!important;
  box-shadow: #B99749!important;
  }
  .mat-calendar-body-selected {
  background-color: #00bcd4;
  color: #fff;
  /* box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%); */
  }
  ::ng-deep .mat-datepicker-toggle{
  color:#7B7B7A;
  }
  .mat-calendar-body-cell-content.mat-calendar-body-today{
  background-color: green !important;
  color: white !important;
  }
  .mat-dialog-container {
  padding: 0px !important;
  }
  .mat-form-field-appearance-fill.mat-form-field-flex {
  padding: 0!important;
  }
  /* ::ng-deep.mat-form-field-wrapper {
  margin-bottom: -1.25 em;
  } */
  :host ::ng-deep .this-feels-better div.mat-input-wrapper.mat-form-field-wrapper{
  padding-bottom: 0;
  }
  .button-fijo{
  width: 128px;
  }
  .err{
  margin-left: 11px;
  }.center-block {
  display: table;  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
  }
  .example-card {
  max-width: 400px;
  }
  #skip-link:hover { 
  filter:none !important;
  cursor:pointer;
  }
  .separate-line{
  border-bottom: solid 5px #0A455A;margin-left: 10px;
  }
  .mat-card {
  max-width: 200px;
  margin: auto;
  }
  .card-wizard .mat-form-field {
    width: 100%!important; 
   font-size: 14px;
   top: 3px;
  }
  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
    color: white !important
  }
  
  ::ng-deep .mat-form-field-empty.mat-form-field-label {
      color: white;
  }
  
  .form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #A26729 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px
  , rgba(210, 210, 210, 0) 1px)!important;
  }