<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-dp-yellow-c-100  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Listado de roles</h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-end" *ngIf="crudRole.create===1">
              <div class="col-8 col-sm-3 col-lg-3 col-xl-2 mb-4 ">
                <button matTooltip="Añadir  rol" matTooltipClass="example-tooltip-grey"
                  class="btn btn-dp-gold-dio  btn-round  " (click)="createRole()">+ Añadir</button>
              </div>
            </div>

            <div class="row justify-content-start">
              <div class="col-12 col-sm-8 col-md-4">
                <mat-form-field appearance="standard">
                  <mat-label>Filtrado de roles</mat-label>
                  <mat-icon matSuffix>search</mat-icon>

                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 ">
         
                <div class="example-container mat-elevation-z8">
                  <table mat-table [dataSource]="dataRole" matSort matSortActive="nameModule" matSortDirection="asc">
                    <!-- Name Column -->
                    <ng-container matColumnDef="nameRole" sticky>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> <b>Nombre del rol</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox"> {{element.nameRole|emptyValueDio}} </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox"> Descripción </th>
                      <td mat-cell *matCellDef="let element" class="sizeBox"> {{element.description|emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">Acciones</th>
                      <td mat-cell *matCellDef="let element;let i = index" class="sizeBox ">
                        <div class="row " style="margin-right: 2px!important;">
                          <div class="col-4" *ngIf="crudRole.read===1">
                            <a class="pointer" width="104" height="102" (click)="viewRole(element.idRole)"
                              matTooltip="Ver rol" matTooltipClass="example-tooltip-grey" style="color: #67BC29;">
                              <mat-icon>
                                visibility
                              </mat-icon>
                            </a>
                          </div>
                          <div class="col-4" *ngIf="crudRole.update===1"> 
                            <a class="pointer blue-icon" width="104" height="102" (click)="editRole(element.idRole)"
                              matTooltip="Editar rol" matTooltipClass="example-tooltip-grey">
                              <mat-icon>
                                edit
                              </mat-icon>
                            </a>
                          </div>
                          <div class="col-4" *ngIf="crudRole.delete===1">
                            <a class="pointer red-icon" width="104" height="102" matTooltip="Eliminar rol"
                              matTooltipClass="example-tooltip-grey"
                              (click)="deleteRole(element.idRole,element.nameRole,element)">
                              <mat-icon>
                                delete
                              </mat-icon>
                            </a>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                      aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>