.container{

  height:100vh;
  display: flex;
 
  justify-content: center;
  align-items:center;


}
.principal{
  border-radius: 15px ;background-color: #F8F8F8;
}

.borderDio{
  border-radius: 15px ;
}
.alin-end{
  text-align:end;
}
.alin-center{
  text-align:center;
}
.block{
  display: block;
}
.cont{

  background-image: url('/assets/img/zyro-image.png');

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;



}
.padding-box::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {

  font-size: 18px;
  font-family: Lato, sans-serif;
}
.material-icons{
  font-size: 38px;
}
.padding-box{
  padding: 48px;
}
::ng-deep .mat-snack-bar-container{
  text-align: center!important;
  font-weight: 900!important;
  color: #3c763d!important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: #2E2A2A;
  
}

.validators{
  color: red;
  margin-left: 20px; 
  margin-top: 8px; 
  font-size: small;
}
/* Desde 768 no se aplica */
@media (min-width: 0px) {
  .logIn {
    text-align: center;
  }
  .iconos-center {
    text-align: center;
  }
}


@media (min-width: 1200px) {
  .iconos-center {
    text-align: right;
  }
  .iconos-center {
    text-align: right;
  }
  .log-in-espace {
    margin-bottom: 100px;
  }
  .logIn {
    text-align: right;
  }
}
@media (max-width: 350px) {

  .padding-box{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .material-icons{
    font-size: 20px;
  }
  .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {

    font-size: 18px;
    font-family: Lato, sans-serif;
  }
}


.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #A26729 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px
, rgba(210, 210, 210, 0) 1px)!important;
}
.left{
 
  background-image: linear-gradient(175deg, #b58433 0, #ae7926 50%, #a76e19 100%);
  padding: 35px;
}
.text{
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 36px;
  color: white;
}
.word{
  font-family: Lato, sans-serif;
  
}

.form-control{
  border-bottom: blanchedalmond;
}
.box {

  width: 400px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

@media (max-width: 427px) {
  .box {

    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
    padding: 5px;
  }
}



@media (max-height: 650px) {
.scroll-a {

  height: 100vh;
  overflow-y: scroll;
  }
}
.dssd{
  background-color: red;
}

