.title{
    font-size: 35px;
    font-family: Lato, sans-serif;
    text-align: center;
}
.titleText{
    font-size: 20px;
    font-family: Lato, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: justify;
}
.passwordLabel{
    padding-top: 10px;
    text-align: end;
    font-family: Lato, sans-serif;
    font-size: 18px;
}
.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #A26729 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px
  , rgba(210, 210, 210, 0) 1px)!important;
  }
@media (max-width: 350px) {
    .title{
        font-size: 30px;
        font-family: Lato, sans-serif;
        text-align: center;
    }
    .titleText{
        font-size: 15px;
        font-family: Lato, sans-serif;
    }
    .passwordLabel{
        font-size: 15px;
        font-family: Lato, sans-serif;
    }
  }
@media (max-width: 576px) {
    .passwordLabel{
        padding-top: 10px;
        text-align: start;
        font-family: Lato, sans-serif;
    }
  }