<div class="container" >

<div class="row justify-content-center">
    <div class="col-10">
      <div class="card">
        <div class="card-header card-header-icon card-header-dp-yellow-c-100">
          <div class="card-icon">
            <i class="material-icons">supervisor_account</i>
          </div>
    
        </div>
        <div class="card-body">
            <h2 class="fw-bold text-center log word">Registro rápido usuario</h2>
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">
              <div class="mb-2">
                  <div class="input-group" >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">badge</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" formControlName="id" placeholder="No. Documento"
                      autocomplete="off" >
                  </div>
                  <div style="display: block;">
                  </div>
                </div>
              <div class="mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="email"  formControlName="email" class="form-control"  placeholder="Correo electrónico"
                      autocomplete="off">
                  </div>
                  <div style="display: block;">
                      <small class="form-text text-danger" *ngIf="campoNoValido('email')" class="validators">
                          {{emailErrorMsg}}</small>
                  </div>
                </div>
              <div class="text-center mb-2">
                <button type="submit" [disabled]="myForm.invalid" class="btn btn-dp-yellow-c-900 btn-round mt-4 word">Registrar</button>
              </div>
            
            </form>
        </div>
      </div>
    </div>
  </div>
