<div class="logo container">
    <a class="simple-text logo-mini align-self-center">
        <div class="logo-img">
            <img src="/assets/img/logo-diocesis.png" />
        </div>
    </a>
    <a href=# class="simple-text logo-normal " style="margin-bottom: 30px;">
        Diócesis de Pasto
    </a>
</div>

<div class="sidebar-wrapper mb-3">

    <div class="user">
        <div class="photo ">
            <img  [src]='urlImg' />
        </div>
        <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span style="color: white!important;" *ngIf="dataPerson.firstName" >

                    {{dataPerson.firstName}} {{dataPerson.secondName}}
                    <b class="caret"></b>
                </span>
                <span style="color: white!important;" *ngIf="dataPerson.firstName===''  && dataPerson.secondName==='' " >

                    {{idIdentification}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item mt-4">
                        <a routerLink="/session/profile" class="nav-link">
                            <span class="sidebar-mini" >MP</span>
                            <span class="sidebar-normal">Mi perfil</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" (click)="logout()">

                            <i class="material-icons" style="margin-top: 5px;">logout</i>
                            <p>Cerrar sesión</p>

                        
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="isMobileMenu()">
              <form class="navbar-form">
                <span class="bmd-form-group"><div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div></span>
              </form>

            </div> -->
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'&& menuitem.icontype !== 'logout'"
                class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}</p>
            </a>
            <a *ngIf="menuitem.type === 'link'&& menuitem.icontype === 'logout'" class="nav-link" (click)="logout()">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}</p>
            </a>
            <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()"
                class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}<b class="caret"></b></p>
            </a>

            <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                        <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
                            <span class="sidebar-mini">{{childitem.ab}}</span>
                            <span class="sidebar-normal">{{childitem.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>