
<form (submit)="academicInformatio()" [attr.disabled]="view? true :null " [formGroup]="myForm"
    *ngIf="this.permissCrud.read===1">
    <div formArrayName="institutionName" *ngFor="let academic of institutionName.controls; let i = index">
        <div [formGroupName]="i">

            <div class="form-group">
      
                <div class="row justify-content-center mt-4">
                    <div class="col-8 mb-4" style="text-align: center;">
                        <small class="mb-2 " style="font-size: larger;"> Estudio académico #{{i+1}}</small>
                    </div>
                </div>
         
                <div class="row justify-content-center mt-2 ">
                    <div class="col-12  col-md-5 mt-2">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Nivel de estudio</mat-label>
                                    <mat-select required formControlName="levelOfStudy"
                                        [disabled]=" verifateUltimate(i)===false">
                                        <mat-option *ngFor="let academicT of academicType" [value]="academicT" >
                                            {{academicT }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'levelOfStudy')">
                            <small class="text-danger">
                                {{errorMsgForm('levelOfStudy','Nivel de estudio',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5 mt-2">

                        <mat-form-field class="example-full-width">
                            <input required [readonly]="verifateUltimate(i)? null : true" matInput type="text"
                                class="font-size-large" formControlName="institutionName" autocomplete="off"
                                placeholder="Nombre Institución">

                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'institutionName')">
                            <small class="text-danger">
                                {{errorMsgForm('institutionName','Nombre Institución',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5 mt-2">
                        <mat-form-field class="example-full-width">
                            <input required [readonly]="verifateUltimate(i)? null : true" matInput type="text"
                                class="font-size-large" formControlName="titleReceived" autocomplete="off"
                                placeholder="Título recibido">
                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'titleReceived')">
                            <small class="text-danger">
                                {{errorMsgForm('titleReceived','Título recibido',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5 mt-2">
                        <mat-form-field class="example-full-width">
                            <input required [readonly]="verifateUltimate(i)? null : true" matInput type="number"
                                class="font-size-large" formControlName="lastYearStudied" autocomplete="off"
                                placeholder="Último año cursado">
                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'lastYearStudied')">
                            <small class="text-danger">
                                {{errorMsgForm('lastYearStudied','Último año cursado',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5 mt-2">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Estado</mat-label>
                                    <mat-select required formControlName="state"
                                        [disabled]="verifateUltimate(i)===false">
                                        <mat-option *ngFor="let stateElement of stateArray" [value]="stateElement" (click)="changeValidators(stateElement,i)">
                                            {{stateElement }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'state')">
                            <small class="text-danger">
                                {{errorMsgForm('state','Estado',i)}}</small>
                        </div>
                    </div>

                    <div class="col-12  col-md-5 mt-2"
                        *ngIf="(institutionName.value[i].state ==='Terminado' || 
                                                               institutionName.value[i].state ===null)&& (institutionName.value[i].state !='Aplazado')">
                        <div class="row justify-content-center">

                            <div class="col-12">

                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Año de titulación</mat-label>
                                    <mat-select  required formControlName="year"
                                        [disabled]=" verifateUltimate(i)===false"  required>
                                        <mat-option *ngFor="let yearItem of years" [value]="yearItem"  >
                                            {{yearItem }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                    
                            </div>
                        </div>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'year')">
                            <small class="text-danger">
                                {{errorMsgForm('year','Año de titulación',i)}}</small>
                        </div>
                    </div>
           
                    
                    <div class="col-12  col-md-5 mt-2"
                        *ngIf="(institutionName.value[i].state ==='En curso' || institutionName.value[i].state ==='Aplazado') && (institutionName.value[i].state !='Aplazado') ">
                        <div class="row justify-content-center">

                            <div class="col-12">


                                
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Año de titulación</mat-label>
                                    <mat-select   formControlName="year"
                                        [disabled]=" verifateUltimate(i)===false"  >
                                        <mat-option *ngFor="let yearItem of years" [value]="yearItem" >
                                            {{yearItem }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'year')">
                            <small class="text-danger">
                                {{errorMsgForm('year','Año de titulación',i)}}</small>
                        </div>
                    </div>



                    <div class="col-12  col-md-5 mt-2" *ngIf="institutionName.value[i].state !='Aplazado' ">
                        <div class="row row justify-content-center">
                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Fecha de culminación</mat-label>
                                    <input matInput [matDatepicker]="dp5"
                                        [max]="dateToday(institutionName.value[i].state)" disabled
                                        formControlName="culminationDate" class="font-size-large">
                                    <mat-datepicker-toggle [disabled]="verifateUltimate(i)===false" matSuffix
                                        [for]="dp5"></mat-datepicker-toggle>
                                    <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'culminationDate')">
                            <small class="text-danger">
                                {{errorMsgForm('culminationDate','Fecha de culminación',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5 mt-2" *ngIf="institutionName.value[i].state !='Aplazado' ">
                        <div class="row justify-content-center">

                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Fecha proyectada de grado</mat-label>
                                    <input [max]="dateToday(institutionName.value[i].state)" matInput
                                        [matDatepicker]="dp6" disabled formControlName="projectedGradeDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp6"
                                        [disabled]="verifateUltimate(i)===false"></mat-datepicker-toggle>
                                    <mat-datepicker #dp6 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'projectedGradeDate')">
                            <small class="text-danger">
                                {{errorMsgForm('projectedGradeDate','Fecha proyectada de grado',i)}}</small>
                        </div>
                    </div>

                    <div class="col-12  col-md-5">
    
                        <div class="row justify-content-center">
            
            
                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>País</mat-label>
                                    <mat-select  (selectionChange)="changeCountry(academic)"
                              formControlName="country">
                                        <mat-option *ngFor="let countryType of Paises" [value]="countryType.name">
                                            {{ countryType.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'country')">
                            <small class="text-danger">
                                {{errorMsgForm('country','País',i)}}</small>
                        </div>
                    
                    </div>
                    <div class="col-12  col-md-5" *ngIf="academic.controls.country.value!=='Colombia'">
                        
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" class="font-size-large" formControlName="department"
                                autocomplete="off" placeholder="Departamento">
                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'department')">
                            <small class="text-danger">
                                {{errorMsgForm('department','Departamento',i)}}</small>
                        </div>
                    
                     
                    </div>
            
                    <div class="col-12  col-md-5" *ngIf="academic.controls.country.value=='Colombia'">
                        <div class="row justify-content-center" >
            
            
                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Departamento</mat-label>
                                    <mat-select [disabled]="verifateUltimate(i)===false"
                                        formControlName="department">
                                        <mat-option *ngFor="let departament1 of departamentoArray"
                                            [value]="departament1.departamento">
                                            {{ departament1.departamento }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'department')">
                            <small class="text-danger">
                                {{errorMsgForm('department','Departamento',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5" *ngIf="academic.controls.country.value!=='Colombia'">

                        <mat-form-field class="example-full-width">
                            <input matInput type="text" class="font-size-large" formControlName="city"
                                autocomplete="off" placeholder="Ciudad">
                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'city')">
                            <small class="text-danger">
                                {{errorMsgForm('city','Ciudad',i)}}</small>
                        </div>
              
                    </div>
          
                    <div class="col-12  col-md-5" *ngIf="academic.controls.country.value==='Colombia'">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <mat-form-field class="elementSizeCien">
                                    <mat-label>Ciudad</mat-label>
                                    <mat-select [disabled]="verifateUltimate(i)===false" 
                                        formControlName="city" >
                                        <mat-option *ngFor="let userType of cityArrayMetodo(academic.controls.department.value)" [value]="userType">
                                            {{ userType}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'city')">
                            <small class="text-danger">
                                {{errorMsgForm('city','Ciudad',i)}}</small>
                        </div>
              
                    </div>

                    <div class="col-12  col-md-5 mt-2" *ngIf="show(institutionName.value[i].levelOfStudy)">

                        <mat-form-field class="example-full-width">
                            <input [readonly]="verifateUltimate(i)? null : true" matInput type="text"
                                class="font-size-large" formControlName="numberOfHours" autocomplete="off"
                                placeholder="No. horas">
                        </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'numberOfHours')">
                            <small class="text-danger">
                                {{errorMsgForm('numberOfHours','No. horas',i)}}</small>
                        </div>
                    </div>
                </div>



                <div class="row justify-content-center justify-content-sm-end  mt-2" *ngIf="view===false" >
                    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 "
                        *ngIf="permissCrud.update===1 && update===true && create===false">
                        <button matTooltip="Actualizar " matTooltipClass="example-tooltip-grey" type="submit"
                            class=" btn btn-dp-green-dio btn-block btn-round  sizeBoxArrayForm"
                            [disabled]="!myForm.dirty">
                        
                            <mat-icon>upgrade</mat-icon>
                        </button>
                    </div>
                    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 " *ngIf="delete===true && permissCrud.delete===1 && view===false">
                        <button matTooltip="Eliminar" matTooltipClass="example-tooltip-grey" type="button"
                            class="btn btn-dp-red-dio btn-block btn-round sizeBoxArrayForm" (click)="deleteAcademic(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <div class="separate-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row justify-content-center" *ngIf="view===false">
        <div class="col-12 col-sm-5 col-xl-2" *ngIf="create===true ">
            <button matTooltip="Cerrar nuevo formulario" matTooltipClass="example-tooltip-grey" type="button"
                class=" btn btn-dp-red-dio btn-block btn-round " (click)="removeContact()"><mat-icon>close</mat-icon></button>
        </div>
        <div class=" col-xs-8 col-sm-8 col-md-2 " *ngIf="permissCrud.create===1 && create===false" style="text-align: center;">
                <button (click)="addAcademic()"   mat-raised-button mat-min-fab matTooltip="Añadir información academica" matTooltipClass="example-tooltip-grey" class="btn btn-dp-gold-dio  btn-round btn-fab " >    <span class="input-group-text"  >
                    <i class="material-icons sizeIconDio"  style="color: #BA7221;">add</i>
                  </span></button>
        </div>
        <div class="col-12 col-sm-5 col-xl-2" *ngIf="permissCrud.create===1 && create===true">
            <button matTooltip="Guardar " matTooltipClass="example-tooltip-grey" type="submit"
                class=" btn btn-dp-green-dio btn-block btn-round *" [disabled]="!myForm.dirty">    
                <mat-icon>save</mat-icon></button>
        </div>

    </div>

</form>