<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card card-wizard">
          <div class="card-header card-header-dp-yellow-c-100 card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person_add_alt</i>
            </div>
            <h4 class="card-title">{{title}}</h4>
          </div>
          <div class="card-body">
            <div class="card-body">
              <div class="row">
                <div class="col-2 mb-4">
                  <button matTooltip="Volver a listar usuarios" matTooltipClass="example-tooltip-grey"
                    routerLink="/session/user/principal" type="button"
                    class="sizeBox btn btn-dp-gold-dio btn-round  "><span class="material-icons">
                      arrow_back
                    </span></button>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-12">
                  <div style="text-align: center;">
                    <img class="img-fluid imge" src="/assets/img/usuarioProfile2.png" style="margin-bottom: 20px;"
                      alt="Logo Diocesis De Pasto">
                    <span class="txtSize float-buttom" >Perfil de usuario</span>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center ">
                <div class="col-12  ">
                  <p class="txtAviso center" *ngIf="active===0 || active===2 "> {{title}} ,
                    Tenga en cuenta que los cambios se salvarán, únicamente al presionar el botón "GUARDAR O ACTUALIZAR".

                    <span style="display: block;" class="mt-3"> Los campos marcados con (*) son obligatorios</span>

                  </p>

                  <app-create-user *ngIf="active===0"></app-create-user>
                  <app-edit-user *ngIf="active===1" [view]="view"></app-edit-user>
                  <app-edit-user *ngIf="active===2"></app-edit-user>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>