@media (min-width: 800px) {
  .sizeIconDio{
    font-size: 30px;
  }
}
@media (min-width: 800px) {
    .sizeIconDio{
      font-size: 30px;
    }
  }
  @media (max-width: 768px) {
    .container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
    }
    .mat-expansion-panel-body {
      padding: 0px !important;
    }
    .col-md-6, .col-sm-12, .col-12  {
      padding-left: 0 ;
      padding-right: 0 ;
    }
    .sizeIconDio{
      font-size: 20px;
    }
    .paddCols{
      padding: 10px;
  }
  }
  mat-form-field {
    width: 100%;
  }
  .card-wizard .mat-form-field {
     width: 100%; 
    font-size: 14px;
    top: 3px;
}
.imge{
    width:60px;
    height:60px;
  }
@media (max-width: 0px) {
    .imge{
        width:110px;
        height:110px;
      }
      .txtAviso{
        font-size: 15px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        text-align: left;
    }
    .txtSize{
        font-size: 50px;
        text-align: left;
    }
  }
  @media (max-width: 330px) {
    .imge{
        display: none;
      }
  }
  .txtAviso{
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: left;
}
.txtSize{
    font-size: 35px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: left;
}

.center{
  text-align: center;
}

i.material-icons {
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.icon-display {
  transform: scale(5);
}
.customIconSize {
  font-size: 120px;
  height: 120px ;
  width: 120px;
}
.cursor{
  cursor: default;
}