
<div class="card" >
    <div class="card-body">
        <form autocomplete="off" [formGroup]="myForm" [attr.disabled]="(view? true :null)" (ngSubmit)="updateModule()" style="margin-top: 20px;">
            <div class="row  ">
                <div class="col-12 col-sm-12 col-md-6 paddCols">
        
                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="nameModule" autocomplete="off"
                            placeholder="Nombre módulo">
                    </mat-form-field>
                    <div style="display: block; " *ngIf="campoNoValido('nameModule')">
                        <small class="form-text text-danger err">
                            Primer nombre es obligatorio</small>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols" *ngIf="myForm.value.refModule!=0">
                    <div class="row justify-content-center">
             
                        <div class="col-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Referencia módulo</mat-label>
                                <mat-select formControlName="refModule">
                                    <mat-option *ngFor="let ref of reference" [value]="ref.nameModule">
                                        {{ref.nameModule }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
        
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols">
                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="abbreviationModule" autocomplete="off"
                            placeholder="Abreviación de módulo">
                    </mat-form-field>
        
             
                    <div style="display: block; " *ngIf="campoNoValido('abbreviationModule')">
                        <small class="form-text text-danger err">
                            Abreviación módulo</small>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols">
                  
                    <div class="row justify-content-center">
        
                        <div class="col-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Tipo de módulo</mat-label>
                                <mat-select  required formControlName="typeModule">
                                    <mat-option *ngFor="let type of typeModule" [value]="type">
                                        {{type }}
                                    </mat-option>
                                </mat-select>
        
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="display: block; " *ngIf="campoNoValido('typeModule')">
                        <small class="form-text text-danger err">
                            Tipo de sangre es obligatorio</small>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" class="font-size-large" formControlName="iconModule" autocomplete="off"
                            placeholder="Ícono de módulo">
                    </mat-form-field>
        
        
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols">
        
                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="description" autocomplete="off"
                            placeholder="Descripción de módulo">
                    </mat-form-field>
        
                    <div style="display: block; " *ngIf="campoNoValido('description')">
                        <small class="form-text text-danger err">
                            Descripción de módulo</small>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols" *ngIf="myForm.value.crud!=null">
                    
                    <div class="row justify-content-center">
        
                        <div class="col-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Crud módulo</mat-label>
                                <mat-select formControlName="crud">
                                    <mat-option *ngFor="let crud of crudList" [value]="crud">
                                        {{crud }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
        
                </div>
                <div class="col-12 col-sm-12 col-md-6 paddCols">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" class="font-size-large" formControlName="urlModule" autocomplete="off"
                            placeholder="Url módulo">
                    </mat-form-field>
             
        
                </div>
            </div>

            <div class="form-group row justify-content-center mt-4" *ngIf="view===false">
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                    <button matTooltip="Volver a listado de módulos" matTooltipClass="example-tooltip-grey"
                        type="button" class="btn btn-dp-gold-dio btn-block btn-round "
                        routerLink="/session/module/principal">  <mat-icon>arrow_back</mat-icon></button>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                    <button matTooltip="Actualizar módulos" matTooltipClass="example-tooltip-grey"
                        type="button" class="btn btn-dp-green-dio  btn-block btn-round"
                        [disabled]="!myForm.dirty" (click)="updateModule()">  <mat-icon>upgrade</mat-icon></button>
                </div>
            </div>
   
        </form>
        
    </div>
</div>
