/* Structure */
table {
  width: 100%;
}


  .example-container {

    width:100%;
    max-width: 100%;
    overflow: auto;
  
  }

@media (max-width: 1250px) {
  .example-container {
    width: 1250px;
    max-width: 100%;
    overflow: auto;
  }
  
  }
  mat-cell, .mat-cell {

    padding: 12px 16px 12px 0;
  }

  .sizeBox {  
    width: 150px;  
    max-width: 150px;  
    min-width: 150px;  
    word-wrap: break-word;
  }



 .mat-header-cell{
   background-color: #C6951A;
   color: white;
 }
 .isDisabled {
  pointer-events: none!important;
  cursor: not-allowed!important;
}

.isDisabled:hover {
  cursor: not-allowed!important;
}
.example-tooltip-grey {
  
  background-color: #4D4D4D!important;
  color: white!important;
  font-family: Lato, sans-serif;
  font-size: 12px;
}