<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-dp-yellow-c-100  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Lista de usuarios</h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-center justify-content-md-end">
              <div class="col-6 col-sm-3 col-lg-3 col-xl-2 mb-4 " *ngIf="crudUser.create===1">
                <button matTooltip="Añadir usuario" matTooltipClass="example-tooltip-grey"
                  class="btn btn-dp-gold-dio   btn-round  " (click)="createUserDir()">+ Añadir</button>
              </div>
              <div class="col-6 col-sm-3 col-lg-3 col-xl-2 mb-4 " *ngIf="crudUser.create===1" style="padding-top:4px ;">

                <button mat-raised-button mat-min-fab matTooltip="Registro rapido"
                  matTooltipClass="example-tooltip-grey" class="btn btn-dp-gold-dio  btn-round btn-fab "
                  (click)="openDialog()"> <span class="input-group-text">
                    <i class="material-icons sizeIconDio">electric_bolt</i>
                  </span></button>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-12 col-sm-8 col-md-4">
                <mat-form-field appearance="standard">
                  <mat-label>

                    <p>Filtrado de usuarios </p>
                  </mat-label>
                  <mat-icon matSuffix>search</mat-icon>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center">

              <div class="col-12">


                <div class="example-container mat-elevation-z8">
                  <table mat-table [dataSource]="dataUser" matSort matSortDirection="asc">

                    <ng-container matColumnDef="names">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Nombres</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.names | emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="surnames">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Apellidos</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.surnames | emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="documentId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Identificación</b>
                      </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.documentId | emptyValueDio}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="state">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> Estado </th>
                      <td mat-cell *matCellDef="let element" class="sizeBox "> {{element.state | state}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nameRole">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> Rol</th>
                      <td mat-cell *matCellDef="let element" class="sizeBox "> {{element.nameRole | emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="nameInstitution">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">Nombre de institución </th>
                      <td mat-cell *matCellDef="let element" class="sizeBox "> {{element.nameInstitution |
                        emptyValueDio}} </td>
                    </ng-container>


                  <ng-container matColumnDef="carnet" *ngIf="crudCarnet.admin===1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">Carnet</th>
                      <td mat-cell *matCellDef="let element" class="sizeBox " >
                        <a class="pointer" width="104" height="102" style="color: #815C4D;"
                          (click)="carnet(element.idUser)" matTooltip="Pdf carnet"
                          matTooltipClass="example-tooltip-grey">
                          <mat-icon>
                            badge
                          </mat-icon>
                        </a>
                      </td>
                    </ng-container>
                  <ng-container matColumnDef="carnet" *ngIf="crudCarnet.admin!==1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">Carnet</th>
                      <td mat-cell *matCellDef="let element" class="sizeBox " >
                          <mat-icon style="color: #815C4D;">
                            badge
                          </mat-icon>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="qr">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">QR</th>
                      <td mat-cell *matCellDef="let element" class="sizeBox ">





                        <a width="104" height="102" href="{{element.qr}}" download="{{element.documentId}}"
                          matTooltip="Descargar qr" matTooltipClass="example-tooltip-grey" style="color: black;">
                          <mat-icon>
                            qr_code
                          </mat-icon>
                        </a>


                      </td>
                    </ng-container>


                    <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox ">Acciones</th>
                      <td mat-cell *matCellDef="let element;let i = index" class="sizeBox ">

                        <div class="row " style="margin-right: 2px!important;">
                          <div>

                          </div>
                          <div class="col-4" *ngIf="crudUser.read===1">



                            <a class="pointer" width="104" height="102" (click)="view(element.idUser,element.email)"
                              matTooltip="Mirar usuario" matTooltipClass="example-tooltip-grey" style="color: #67BC29;">
                              <mat-icon>
                                visibility
                              </mat-icon>
                            </a>


                          </div>
           
                          <div class="col-4" *ngIf="crudUser.update===1">
                            <a class="pointer" width="104" height="102" (click)="editar(element.idUser,element.email)"
                              matTooltip="Editar usuario" matTooltipClass="example-tooltip-grey"
                              style="color: #17B5D8;">
                              <mat-icon>
                                edit
                              </mat-icon>
                            </a>



                          </div>
                          <div class="col-4" *ngIf="crudUser.delete===1">
                            <a class="pointer" width="104" height="102" matTooltip="Eliminar usuario"
                              matTooltipClass="example-tooltip-grey" style="color: #D12626;"
                              (click)="deleteUser(element.idUser,element.email,element)">
                              <mat-icon>
                                delete
                              </mat-icon>
                            </a>

                          </div>
                        </div>



                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                      aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>