<form (submit)="recognitionInformation()" [formGroup]="myForm"  [attr.disabled]="view? true :null ">
    <div formArrayName="institutionName" *ngFor="let academic of institutionName.controls; let i = index">
        <div [formGroupName]="i">
            <div class="form-group">
                <div class="row">
                    <div class="col-12 mb-4" style="text-align: center;">
                        <small style="font-size: larger;" > Reconocimiento #{{i+1}}</small>
                    </div>
                </div>
                <div class="row  justify-content-center"> 
                    <div class="col-12  col-md-5">
   
                        <mat-form-field class="example-full-width">
                            <input required matInput type="text" class="font-size-large" formControlName="recognitionMotive"
                                 autocomplete="off" placeholder="Motivo del reconocimiento"  [readonly]="verifateUltimate(i)? null : true">
                                </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'recognitionMotive')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('recognitionMotive','Motivo del reconocimiento',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5">
                        <div class="row justify-content-center">
              
                            <div class="col-12 " >
                                <mat-form-field  style="width: 100%;">
                                    <mat-label>Fecha de reconocimiento</mat-label>
                                    <input required  style="padding-top: -10px!important;" matInput [matDatepicker]="dp1" disabled formControlName="recognitionDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp1"  [readonly]="verifateUltimate(i)? null : true"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
        
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'recognitionDate')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('recognitionDate','Fecha de reconocimiento',i)}}</small>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12  col-md-5">
        

                        <mat-form-field class="example-full-width">
                            <input required matInput type="text" class="font-size-large" formControlName="entityThatIssuesRecognition"
                                 autocomplete="off" placeholder="Entidad que expide el reconocimiento"  [readonly]="verifateUltimate(i)? null : true">
                                </mat-form-field>
                        <div class="dp-block-dio" *ngIf="getGroupControl(i, 'entityThatIssuesRecognition')"   >
                            <small class="text-danger" > 
                                {{errorMsgForm('entityThatIssuesRecognition','Entidad que expide el reconocimiento',i)}}</small>
                        </div>
                    </div>
                    <div class="col-12  col-md-5">
                    
                    </div>
                </div>
                <div class="row justify-content-center justify-content-sm-end  mt-2" *ngIf="view===false" >
                    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 " *ngIf="permissCrud.update===1 && update===true && create===false" style="margin-left: 15px;">
                        <button  matTooltip="Actualizar datos" matTooltipClass="example-tooltip-grey" type="submit" class="btn btn-dp-green-dio  btn-block btn-round  sizeBoxArrayForm" [disabled]="!myForm.dirty">           <mat-icon>upgrade</mat-icon></button>
                    </div>
                    <div class="col-7 col-sm-3 col-lg-3 col-xl-2 " style="margin-left: 15px;" *ngIf="delete===true && permissCrud.delete===1 "  >
                        <button  matTooltip="Eliminar datos" matTooltipClass="example-tooltip-grey" type="button" class="btn btn-dp-red-dio btn-block btn-round sizeBoxArrayForm"
                        (click)="deleteRecognition(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <div class="separate-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="view===false">
        <div  class="col-12 col-sm-5 col-xl-2" *ngIf="create===true " style="margin-left: 15px;">
            <button matTooltip="Cerrar registro" matTooltipClass="example-tooltip-grey" type="button" class="btn btn-dp-red-dio btn-block btn-round " (click)="removeContact()"><mat-icon>close</mat-icon> </button>
        </div>

        <div class=" col-xs-8 col-sm-8 col-md-2 " *ngIf="permissCrud.create===1 && create===false" style="text-align: center;">
            <button (click)="addRecognition()"   mat-raised-button mat-min-fab matTooltip="Añadir reconocimiento" matTooltipClass="example-tooltip-grey" class="btn btn-dp-gold-dio  btn-round btn-fab " >    <span class="input-group-text"  >
                <i class="material-icons sizeIconDio"  style="color: #BA7221;">add</i>
              </span></button>
    </div>
        <div class="col-12 col-sm-5 col-xl-2" *ngIf="permissCrud.create===1 && create===true" style="margin-left: 15px;">
            <button  matTooltip="Guardar datos" matTooltipClass="example-tooltip-grey" type="submit" class="btn btn-dp-green-dio  btn-block btn-round " [disabled]="!myForm.dirty"> <mat-icon>save</mat-icon></button>
        </div>

    </div>  
</form>
        