
.chart-container {

  display: grid;
  height: 300;
  color:rgb(0, 250, 83)
}



.size-min{
 
  min-width: 722px!important;
  min-height: 400px!important;
}
.size-min-cake{
 
  min-width: 582px!important;
  min-height: 350px!important;
}
@media (max-width: 1282px) {
  .table-scroll {
    overflow-x: auto!important;

  }
  .display-dio{

    display: flex!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
  }
  svg{
    display: flex!important;
  }
}
@media (max-width: 1650px) {
  .table-scroll-cake {
    overflow-x: auto!important;

  }

}

table {
  width: 100%;
}


  .example-container {

    width:100%;
    max-width: 100%;
    overflow: auto;
  
  }

@media (max-width: 1250px) {
  .example-container {
    width: 1250px;
    max-width: 100%;
    overflow: auto;
  }
  
  }
  mat-cell, .mat-cell {

    padding: 12px 16px 12px 0;
  }

  .sizeBox {  
    width: 150px;  
    max-width: 150px;  
    min-width: 150px;  
    word-wrap: break-word;
  }



 .mat-header-cell{
   background-color: #C6951A;
   color: white;
 }

 .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.example-tooltip-grey {
  
  background-color: #4D4D4D!important;
  color: white!important;

  font-size: 12px;
}