<div class="main-content">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-info">
            <div class="card-icon">
              <i class="material-icons">insert_chart</i>
            </div>
            <h4 class="card-title">Cantidad de estudios
              <small> - Sacerdotes</small>
            </h4>
          </div>
          <div class="card-body table-scroll">

            <div class="row justify-content-center  size-min">
              <div class="col-12 col-lg-9  display-dio" style="height: 400px!important;margin: 20px;">
                <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-icon card-header-danger">
            <div class="card-icon">
              <i class="material-icons">pie_chart</i>
            </div>
            <h4 class="card-title">Años de ordenación de presbíteros</h4>
          </div>
          <div class="card-body table-scroll-cake">

            <div class="row justify-content-center size-min-cake">
              <div class="col-10">
                <ngx-charts-pie-chart [results]="single2" [scheme]="colorScheme2" [legend]="true">
                  <ng-template #tooltipTemplate let-model="model">
                    <h4>
                      {{model.name}}
                    </h4>
                    <h4>No.({{model.value}}) -- {{(model.value*100)/totalPresbiteros | number:'1.0-2'}}%</h4>
                  </ng-template>
                </ngx-charts-pie-chart>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">pie_chart</i>
            </div>
            <h4 class="card-title">Edades de sacerdotes</h4>
          </div>
          <div class="card-body table-scroll-cake">

            <div class="row justify-content-center size-min-cake">
              <div class="col-10">
                <ngx-charts-pie-chart [results]="single3" [scheme]="colorScheme3" [legend]="true">
                  <ng-template #tooltipTemplate let-model="model">
                    <h4>
                      {{model.name}}
                    </h4>
                    <h4>No.({{model.value}}) -- {{(model.value*100)/ totalSacerdotes | number:'1.0-2'}}%</h4>
                  </ng-template>
                </ngx-charts-pie-chart>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-info">
            <div class="card-icon">
              <i class="material-icons">timeline</i>
            </div>
            <h4 class="card-title">Tiempo de servicio
              <small> - sacerdotes</small>
            </h4>
          </div>
          <div class="card-body">












            <div class="row justify-content-center">
              <div class=" col-sm-6 col-lg-3 border rounded" style="color: grey; padding-top: 10px;">
                <div class="row ">
                  <div class="col-6">
                    <p style="text-align: end;">0-2 Años: </p>
                  </div>
                  <div class="col-6">
                    <p> <span class="dot" style="background-color: rgb(102, 189, 109);"></span></p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-6">
                    <p style="text-align: end;">3-5 Años: </p>
                  </div>
                  <div class="col-6">
                    <p> <span class="dot" style="background-color: rgb(253, 222, 144);"></span></p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-6">
                    <p style="text-align: end;">+5 Años: </p>
                  </div>
                  <div class="col-6">
                    <p> <span class="dot" style="background-color: rgb(211, 52, 45);"></span></p>
                  </div>
                </div>
              </div>


            </div>
            <div class="row justify-content-start mt-4">
              <div class="col-12 col-sm-8 col-md-4">
                <mat-form-field appearance="standard">
                  <mat-label>Filtrado de usuarios</mat-label>
                  <mat-icon matSuffix>search</mat-icon>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
              </div>


            </div>
            <div class="row justify-content-center">
              <div class="col-12">


                <div class="example-container mat-elevation-z8">
                  <table mat-table [dataSource]="dataUser" matSort matSortDirection="asc">

                    <ng-container matColumnDef="names">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Nombres</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.names | emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="surnames">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Apellidos</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.surnames | emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Correo</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.email | emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="identification">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Identificación </b>
                      </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox "> {{element.identification |
                        emptyValueDio}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="time">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Tiempo</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox " style="padding: 10px;"> {{element.time |
                        years}} </td>
                    </ng-container>
                    <ng-container matColumnDef="class">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="sizeBox "> <b>Distinción</b> </th>
                      <td mat-cell *matCellDef="let element;" class="sizeBox " style="padding: 10px;">

                        <ng-container ngSwitch="{{element.class}}">

                          <ng-container *ngSwitchCase="'green'">
                            <span matTooltip="Entre 0-2 años en servicio" matTooltipClass="example-tooltip-grey"  class="dot" style="background-color: rgb(102, 189, 109);"></span>
                          </ng-container>

                          <ng-container *ngSwitchCase="'yellow'">
                            <span matTooltip="Entre 0-2 años en servicio" matTooltipClass="example-tooltip-grey"   class="dot" style="background-color: rgb(253, 222, 144);"></span>
                          </ng-container>

                          <ng-container *ngSwitchCase="'red'">
                            <span matTooltip="+5 años en servicio" matTooltipClass="example-tooltip-grey"  class="dot" style="background-color: rgb(211, 52, 45);"></span>
                          </ng-container>

                        </ng-container>





                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                  </table>

                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                      aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>