<div class="overlay" *ngIf="varSpinner" >
  <div class="loadingio-spinner-rolling-zvsd6sfg6e"><div class="ldio-ije64jmhzm">
  <div></div>
  </div></div>
</div>
<div class="cont">
    <div class="container  " >
      <div  class="row justify-content-center scroll-a " style="border-radius: 15px ;background-color: #F8F8F8;" >
        <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-12  padding-box align-self-center" style="border-radius: 15px ;">
          <div class="row justify-content-center">
            <div class="col-12"  style="text-align:end;">
              <img class="img-fluid fload-end" src="/assets/img/logo-diocesis.png" width="60" height="90"
              alt="Logo Diocesis De Pasto">
            </div>
          </div>
          <div class="row justify-content-center" style="text-align:center;">
            <div class="col-12" >
              <mat-icon class="customIconSize" aria-hidden="false" aria-label="Example home icon">vpn_key</mat-icon>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="fw-bold text-center log word" style="margin-top: 30px;margin-left: 5px;margin-right: 5px;">Cambiar contraseña </h2>
              <h3 class="box">
                Se enviará un correo mostrando las instrucciones para recuperar la contraseña, por favor ingrese su correo y 
                revise la bandeja de entrada.
              </h3> 
              <form style="margin-top: 30px;" autocomplete="off" [formGroup]="myForm" (ngSubmit)="
              check()">
                <div class="mb-2">
                    <div class="input-group" >
                      <div class="input-group-prepend" >
                        <span class="input-group-text"style="padding: 0px!important;margin-right:2px" >
                          <i class="material-icons">mail_outline</i>
                        </span>
                      </div>
                      <input type="email" class="form-control" formControlName="email" placeholder="Correo electrónico."
                        autocomplete="off" >
                    </div>
                    <div style="display: block;">
                      <h5 class="form-text text-danger" *ngIf="campoNoValido('email')" class="validators">
                        {{emailErrorMsg}}</h5>
                    </div>
                  </div>
                  <div class="row justify-content-center">

                    <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                      <button  matTooltip="Volver a login" matTooltipClass="example-tooltip-grey"  class=" btn btn-dp-red-dio btn-block btn-round"   [routerLink]="['/login']">VOLVER</button>
                  </div>
              
                    <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                        <button  matTooltip="Verificar correo" matTooltipClass="example-tooltip-grey" type="submit" class=" btn btn-dp-gold-dio btn-block btn-round" [disabled]="myForm.invalid">ENVIAR</button>
                    </div>
                 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  