.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .cont{
    background-image: url('/assets/img/zyro-image.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .padding-box::-webkit-scrollbar-thumb {
      background: #ff9d00;
      border-radius: 5px;
  }
  .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    font-size: 18px;
    font-family: Lato, sans-serif;
  }
  .material-icons{
    font-size: 38px;
  }
  .padding-box{
    padding: 48px;
  }
  ::ng-deep .mat-snack-bar-container{
    text-align: center!important;
    font-weight: 900!important;
    color: #3c763d!important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
  }
  ::ng-deep .mat-simple-snackbar-action {
    color: #2E2A2A;
  }
  .validators{
    color: red;
    margin-left: 20px; 
    margin-top: 8px; 
    font-size: small;
  }
  /* Desde 768 no se aplica */
  @media (min-width: 0px) {
    .logIn {
      text-align: center;
    }
    .iconos-center {
      text-align: center;
    }
  }
  @media (min-width: 1200px) {
    .iconos-center {
      text-align: right;
    }
    .iconos-center {
      text-align: right;
    }
    .log-in-espace {
      margin-bottom: 100px;
    }
    .logIn {
      text-align: right;
    }
  }
  @media (max-width: 350px) {
    .padding-box{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .material-icons{
      font-size: 20px;
    }
    .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
      font-size: 18px;
      font-family: Lato, sans-serif;
    }
  }
  .form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #A26729 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px
  , rgba(210, 210, 210, 0) 1px)!important;
  }
  .left{
    background-image: linear-gradient(175deg, #b58433 0, #ae7926 50%, #a76e19 100%);
    padding: 35px;
  }
  .text{
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 36px;
    color: white;
  }
  .word{
    font-family: Lato, sans-serif;
  }
  .form-control{
    border-bottom: blanchedalmond;
  }
  .box {
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
    padding: 5px;
  }
  @media (max-width: 427px) {
    .box {
      width: 250px;
      overflow: hidden;
      margin: 0 auto;
      text-align: justify;
      font-size: 18px;
      padding: 5px;
    }
  }
  @media (max-height: 650px) {
  .scroll-a {
    height: 100vh;
    overflow-y: scroll;
    }
  }
@keyframes ldio-ije64jmhzm {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-ije64jmhzm div {
    position: absolute;
    width: 122px;
    height: 122px;
    border: 18px solid #1e87a2;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-ije64jmhzm div {
    animation: ldio-ije64jmhzm 1s linear infinite;
    top: 100px;
    left: 100px;
  }
  .loadingio-spinner-rolling-zvsd6sfg6e {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-ije64jmhzm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-ije64jmhzm div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
  .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, .8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .customIconSize {
    font-size: 100px;
    height: 100px ;
    width: 100px ;
}