<!-- <div class="container" style="
        display: flex;
        height:100vh;
        justify-content: center;
        align-items:center;
    ">
  <div class="row justify-content-center" style="border-radius: 15px ;background-color: white;" >
    <div class="col d-none d-xl-block col-xl-6  col-xl-6 text-center left" style="border-top-left-radius: 15px ;border-bottom-left-radius: 15px;">
      <h4 class="text">{{CONST.SECTION_LEFT.TEXT_PRIMARY}}</h4>
      <div>
        <img class="img-fluid" src="/assets/img/logo-diocesis.png" width="200" height="300"
          alt="Logo Diocesis De Pasto">
      </div>
      <h3 class="info-title text" >Diocesis de Pasto</h3>
    </div>
    <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-6 bg-white padding-box align-self-center" style="border-radius: 15px ;">
      <div class="row justify-content-center">
        <div class="col-12 d-xl-none  ">
          <div style="text-align: center;" >
            <img src="/assets/img/logo-diocesis.png" width="80" height="130"
            alt="Logo Diocesis De Pasto">
          </div>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="fw-bold text-center log word">Registro</h2>
          <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">
            <div class="mb-2">
                <div class="input-group" >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">badge</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" formControlName="id" placeholder="No. Documento"
                    autocomplete="off" >
                </div>
                <div style="display: block;">
                </div>
              </div>
            <div class="mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email"  formControlName="email" class="form-control"  placeholder="Correo electrónico"
                    autocomplete="off">
                </div>
                <div style="display: block;">
                    <h5 class="form-text text-danger" *ngIf="campoNoValido('email')" class="validators">
                        {{emailErrorMsg}}</h5>
                </div>
              </div>
            <div class="text-center mb-2">
              <button type="submit" [disabled]="myForm.invalid" class="btn btn-dp-yellow-c-900 btn-round mt-4 word">Registrarse</button>
            </div>
            <div class="text-center log-in-espace" >
                <a  id="change" style="color:gray;cursor:pointer;" (click)="sesion()">¿Iniciar sesion?</a>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="mt-3 logIn word" style="margin-right: 5px;">Siguenos en</h4>
                </div>
                <div class="col-12 iconos-center">
                  <a [href]="CONST.SOCIAL_NETWORK.FACEBOOK" target="_blank" mat-raised-button
                    class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                    <i class="fa fa-facebook"> </i>
                  </a>
                  <a [href]="CONST.SOCIAL_NETWORK.INSTRAGRAM" target="_blank" mat-raised-button
                    class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a [href]="CONST.SOCIAL_NETWORK.TWITTER" target="_blank" mat-raised-button
                    class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>
              </div>
          </form>
          <div class="social">
            <div class="row">
              <div class=" col-12 col-sm-12">
     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="overlay">
  <div class="loadingio-spinner-rolling-zvsd6sfg6e">
    <div class="ldio-ije64jmhzm">
    
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center backgroundDio">
    <div class="col d-none d-xl-block col-xl-6 text-center left borderDio">
      <h3 class="text mb-2"> {{CONST.SECTION_LEFT.TEXT_PRIMARY}} </h3>
      <div>
        <img class="img-fluid" src="/assets/img/logo-diocesis.png" width="200" height="300"
          alt="Logo Diocesis De Pasto">
      </div>
      <h3 class="info-title text">{{CONST.SECTION_LEFT.TEXT_SECONDARY}}</h3>
    </div>
    <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-6 bg-white padding-box align-self-center"
      style="border-radius: 15px ;">
      <div class="row justify-content-center">
        <div class="col-12 d-xl-none  ">
          <div style="text-align: center;">
            <img [src]="CONST.SECTION_LEFT.IMAGE" width="80" height="150" alt="Logo Diocesis De Pasto">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="fw-bold text-center log word marginDio30px">{{CONST.SECTION_REGISTER.TITLE}}</h2>
          <p class="fw-bold text-center log word mt-3">{{CONST.SECTION_REGISTER.TEXT_INFO}}</p>
          <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">
            <div class="mb-2">
                <div class="input-group" >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">badge</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" formControlName="id" placeholder="No. Documento"
                    autocomplete="off" >
                </div>
                <div style="display: block;">
                </div>
              </div>
            <div class="mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email"  formControlName="email" class="form-control"  placeholder="Correo electrónico"
                    autocomplete="off">
                </div>
                <div style="display: block;">
                    <h5 class="form-text text-danger" *ngIf="campoNoValido('email')" class="validators">
                        {{emailErrorMsg}}</h5>
                </div>
              </div>
            <div class="text-center mb-2">
              <button type="submit" [disabled]="myForm.invalid" class="btn btn-dp-yellow-c-900 btn-round mt-4 word">Registrarse</button>
            </div>
            <div class="text-center log-in-espace" >
                <a  id="change" style="color:gray;cursor:pointer;" (click)="sesion()">¿Iniciar sesión?</a>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="mt-3 logIn word" style="margin-right: 5px;">Síguenos en</h4>
                </div>
                <div class="col-12 iconos-center">
                  <a [href]="CONST.SOCIAL_NETWORK.FACEBOOK" target="_blank" mat-raised-button
                    class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                    <i class="fa fa-facebook"> </i>
                  </a>
                  <a [href]="CONST.SOCIAL_NETWORK.INSTRAGRAM" target="_blank" mat-raised-button
                    class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a [href]="CONST.SOCIAL_NETWORK.TWITTER" target="_blank" mat-raised-button
                    class="btn btn-just-icon btn-round btn-dp-yellow-c-900">
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>