<div class="main-content">
  <div class="container-fluid">
    <div class="header text-center my-5">
      <h2 class="title">
        <small>
          <span class="material-icons md-36"> insights </span>
          Sistema Integrado de Información Diocesana
        </small>
      </h2>
      <p class="category">
        Bienvenido al sistema de información de la Diócesis de Pasto
      </p>
    </div>

    <div class="d-flex justify-content-center">
      <div class="col-md-5">
        <div class="card card-profile">
          <div class="card-avatar picture-user">
            <img class="img bg-img" [src]="urlImg" style="display:flex; justify-content:center;align-items:center;" />
          </div>
          <div class="card-body">
            <h5 class="card-category text-gray"> {{ user.nameTypeUser ? user.nameTypeUser : "" }}</h5>
            <h3 class="card-title">
              {{ dataPerson.firstName | nameEmpty: "" | titlecase }}
              {{ dataPerson.secondName | nameEmpty: "" | titlecase }}
              {{ dataPerson.firstSurname | nameEmpty: "" | titlecase }}
              {{ dataPerson.secondSurname | nameEmpty: "" | titlecase }}
            </h3>
            <h4 class="card-description">
              {{ user.email ? user.email : "" }}
            </h4>
            <div class="miQR" *ngIf="isShowQR">
              <img src="{{ imgQr }}" class="size-img" />
            </div>
            <a class="btn btn-dp-yellow-c-900 btn-round mx-2 mt-2 word" (click)="showQRCode()">
              {{ textShowQRCode }}
            </a>
            <a class="btn btn-dp-yellow-c-900 btn-round mx-2 mt-2 word" routerLink="/session/profile">Ver mi perfil</a>
     
        
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="crudStatistics.admin===1 || crudStatistics.read===1 ">
      <app-home></app-home>

    </div>

  </div>
</div>