   .paddCols{
    padding: 10px;
} 
.margeLabel{
  margin-left: 10px;
  color: #669871;
  font-weight: bold;
}
@media (min-width: 800px) {
  .sizeIconDio{
    font-size: 30px;
  }
}
@media (min-width: 800px) {
    .sizeIconDio{
      font-size: 30px;
    }
  }
  @media (max-width: 768px) {
    .container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
    }
    .mat-expansion-panel-body {
      padding: 0px !important;
    }
    .col-md-6, .col-sm-12, .col-12  {
      padding-left: 0 ;
      padding-right: 0 ;
    }
    .sizeIconDio{
      font-size: 20px;
    }
    .paddCols{
      padding: 10px;
  }
  }
  mat-form-field {
    width: 100%;
  }
  .card-wizard .mat-form-field {
     width: 100%; 
    font-size: 14px;
    top: 3px;
}
.parametersPanel .mat-expansion-panel-body {
  padding: 0px !important;
}
.mat-expansion-panel-body {
  padding: 0px  !important;
}
::ng-deep .mat-expansion-panel-body{
  padding: 0;
}
/* 265022 */
.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #265022 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px
, rgba(210, 210, 210, 0) 1px)!important;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #B99749 !important;
}
.mat-option:hover:not(.mat-option-disabled) {
  background: #DABB74 !important;
  box-shadow: none;
}
.mat-option.mat-selected:not(.mat-option-multiple) {
  box-shadow: none;
}
/* Border */
 ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #265022;
  box-shadow: none;
}
:host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
  color:black !important;
}
.mat-calendar-body-selected {
  background-color: #B99749!important;
  color: #B99749!important;
  box-shadow: #B99749!important;
}
.mat-calendar-body-selected {
  background-color: #00bcd4;
  color: #fff;
  /* box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%); */
}
::ng-deep .mat-datepicker-toggle{
  color:#7B7B7A;
}
.mat-calendar-body-cell-content.mat-calendar-body-today{
  background-color: green !important;
  color: white !important;
}
.mat-dialog-container {
  padding: 0px !important;
}
.mat-form-field-appearance-fill.mat-form-field-flex {
  padding: 0!important;
}
/* ::ng-deep.mat-form-field-wrapper {
  margin-bottom: -1.25 em;
} */
:host ::ng-deep .this-feels-better div.mat-input-wrapper.mat-form-field-wrapper{
  padding-bottom: 0;
}
.button-fijo{
  width: 128px;
}
.err{
  margin-left: 11px;
}.center-block {
  display: table;  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
}
.imge{
    width:60px;
    height:60px;
  }
@media (max-width: 0px) {
    .imge{
        width:110px;
        height:110px;
      }
      .txtAviso{
        font-size: 15px;
        font-family: Lato, sans-serif;
        text-align: left;
    }
    .txtSize{
        font-size: 50px;
        text-align: left;
    }
  }
  @media (max-width: 330px) {
    .imge{
        display: none;
      }
  }
  .txtAviso{
    font-size: 15px;
    font-family: Lato, sans-serif;
    text-align: left;
}
.txtSize{
    font-size: 35px;
    font-family: Lato, sans-serif;
    text-align: left;
}
.example-h2 {
    margin: 10px;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .example-margin {
    margin: 10px;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0.5 !important;     /*click effect color change*/
    background-color: #064861 !important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #064861!important;   /*inner circle color change*/
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#064861!important; /*outer ring color change*/
}
