<div class="row justify-content-center">
    <div class="col-8" style="text-align: center;" color='blue'>
        <label class="example-margin"><b style="color: black;">Módulo:</b> </label>
        <mat-radio-group [(ngModel)]="pattern">
            <mat-radio-button class="example-margin" value="padre" (click)="reset()">
                Padre
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="hijo" (click)="reset()">
                Hijo
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="createModule()" style="margin-top: 20px;">
            <div class="row  justify-content-center mt-2">
                <div class="col-12  col-md-5 mt-2">


                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="nameModule"
                            autocomplete="off" placeholder="Nombre módulo">

                    </mat-form-field>
                    <div style="display: block; " *ngIf="campoNoValido('nameModule')">
                        <small class="text-danger">
                            Nombre módulo es obligatorio</small>
                    </div>
                </div>
                <div class="col-12  col-md-5 mt-2" *ngIf="pattern==='hijo'">
                    <div class="row justify-content-center">

                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Referencia módulo</mat-label>
                                <mat-select formControlName="refModule">
                                    <mat-option *ngFor="let ref of reference" [value]="ref.nameModule">
                                        {{ref.nameModule }}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>
                    <div style="display: block; " *ngIf="campoNoValido('refModule')">
                        <small class="text-danger">
                            Referencia módulo es obligatorio</small>
                    </div>
                </div>
                <div class="col-12  col-md-5 mt-2">

                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large"
                            formControlName="abbreviationModule" autocomplete="off" placeholder="Abreviación de módulo">


                    </mat-form-field>
                    <div style="display: block; " *ngIf="campoNoValido('abbreviationModule')">
                        <small class="text-danger">
                            Abreviación módulo es obligatorio</small>
                    </div>
                </div>

                <div class="col-12  col-md-5 mt-2">

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" class="font-size-large" formControlName="iconModule"
                            autocomplete="off" placeholder="Ícono de módulo">

                    </mat-form-field>

                    <div style="display: block; " *ngIf="campoNoValido('iconModule')">
                        <small class="text-danger">
                            Ícono de módulo es obligatorio</small>
                    </div>
                </div>
                <div class="col-12  col-md-5 mt-2">

                    <mat-form-field class="example-full-width">
                        <input required matInput type="text" class="font-size-large" formControlName="description"
                            autocomplete="off" placeholder="Descripción de módulo">

                    </mat-form-field>
                    <div style="display: block; " *ngIf="campoNoValido('description')">
                        <small class="text-danger">
                            Descripción de módulo es obligatorio</small>
                    </div>
                </div>
                <div class="col-12  col-md-5 mt-2" *ngIf="pattern==='hijo'">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Crud módulo</mat-label>
                                <mat-select [required]="pattern==='padre'? false:true" formControlName="crud">
                                    <mat-option *ngFor="let crud of crudList" [value]="crud">
                                        {{crud|crud}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="display: block; " *ngIf="campoNoValido('crud')">
                        <small class="text-danger">
                            Crud módulo es obligatorio</small>
                    </div>
                </div>
                <div class="col-12  col-md-5 mt-2">

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" class="font-size-large" formControlName="urlModule"
                            autocomplete="off" placeholder="Url módulo">

                    </mat-form-field>
                    <div style="display: block; " *ngIf="campoNoValido('urlModule')">
                        <small class="text-danger">
                            Url módulo es obligatorio</small>
                    </div>
                </div>
            </div>

            <div class="form-group row justify-content-center mt-4">
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                    <button matTooltip="Volver a lista de módulos" matTooltipClass="example-tooltip-grey" type="button"
                        class="btn btn-dp-gold-dio btn-block  btn-round" routerLink="/session/module/principal">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3 mg-lf-15">
                    <button matTooltip="Añadir módulo" matTooltipClass="example-tooltip-grey" type="submit"
                        class="btn btn-dp-green-dio  btn-block  btn-round">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>