
  <div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="card card-wizard">
                    <div class="card-header card-header-dp-yellow-c-100 card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person_add_alt</i>
                        </div>
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-body" style="margin-bottom: 80px;">
                            <div class="row">
                                <div class="col-2 mb-4">
                                  <button matTooltip="Volver a lista de módulos" matTooltipClass="example-tooltip-grey"
                                    routerLink="/session/module/principal" type="button"
                                    class="sizeBox btn btn-dp-gold-dio btn-round  "><span class="material-icons">
                                      arrow_back
                                    </span></button>
                                </div>
                              </div>
                              <div class="row ">
                                <div class="col-12">
                                    <div style="text-align: center;">
                                        <img class="img-fluid imge" src="/assets/img/module.png"
                                            style="margin-bottom: 20px;" alt="Logo Diocesis De Pasto">
                                        <span class="txtSize float-buttom" style="margin-top: 100px;">Módulo</span>
                                    </div>
                                </div>
                            </div>>
                            <div class="row justify-content-center">
                                <div class="col-12  col-lg-12 col-xl-10 col-xxl-10">
                                    <p class="txtAviso  center" *ngIf="active===0 || active===2 "> {{title}}, tenga en cuenta que los cambios se salvarán, únicamente al presionar el botón "GUARDAR".


                                        <span style="display: block;" class="mt-3" >  Los campos marcados con (*) son obligatorios</span>
                                    </p>
                                        <app-create-module *ngIf="active===0" ></app-create-module>
                                        <app-update-module  *ngIf="active===1" [view]="view" ></app-update-module>
                                        <app-update-module *ngIf="active===2"></app-update-module>
                                    
                                  
                              
                                </div>
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
