.words{
    color: white;
    font-weight: 500;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}
.word{
    color: white;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}

