<!-- <div class="cont">
  <div class="container  ">
    <div class="row justify-content-center scroll-a principal">
      <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-12  padding-box align-self-center borderDio">
        <div class="row justify-content-center alin-center">
          <div class="col-12">
            <img class="img-fluid fload-end" src="/assets/img/logo-diocesis.png" width="90" height="80"
              alt="Logo Diocesis De Pasto">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="fw-bold text-center log word mt-3">Usuario inactivo </h2>
            <h3 class="box">
              Se ha detectado inactividad en el sistema.
            </h3>

            <h3 class="box">
              Por seguridad hemos bloqueado la sesión para el usuario,
              <b>{{mail}}</b>
            </h3>
            <h3 class="box">
              Por favor, presione el boton "Entrar" si desea continuar en el sistema.
              De lo contrario presione "Salir" para ingresar con otro usuario diferente
            </h3>
            <form class="mt-3" autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()">
              <div class="mb-2">
                <div class="input-group">
                  <div> 
                </div>
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                    class="form-control" value="#01DCDE" placeholder="Contraseña" autocomplete="off">
                </div>
                <div class="block">
                  <h5 class="form-text text-danger word" class="validators" *ngIf="campoNoValido('password')">
                    La contraseña debe tener mínimo 8 caracteres.</h5>
                </div>
              </div>

              <div class="text-center mb-2">
                <button type="button" class="btn btn-dp-red-dio btn-round mt-4 word" (click)="logout()">Salir</button>
                <button type="submit" [disabled]="myForm.invalid"
                  class="btn btn-dp-green-dio btn-round mt-4 word">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->