
<footer class="footer ">
  <div class="container-fluid">
    <nav class=" copyright pull-left">
      &copy;{{test | date: 'yyy'}}, Desarrollado por: <i class="material-icons">church</i> Diócesis de Pasto
    </nav>
    <div class="copyright pull-right">
 
        
      <i class="material-icons">rocket</i>v.1.0.0 
    </div>
  </div>
</footer>
